In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

# 데이터 가공 및 변환

In [2]:
data = pd.read_csv('data_fin_.csv',encoding = 'cp949')
data.head()

,userid,courseid,course,rating,GW,GB,GN,JB,JN,CHOONG,...,tree,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter
0,5,1,"영종진 공원, 영종역사관, 레일바이크",6,0,0,0,0,0,0,...,1,0,0.0,0,0.0,0,0,0,1,0
1,3,2,"네스트호텔, 플라츠레스토랑",7,0,0,0,0,0,0,...,0,0,1.0,1,0.0,0,0,1,0,0
2,3,3,"월미도 놀이공원, 을왕리 해수욕장",4,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,1
3,1,4,대이작도 배낚시,6,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,1,0,0
4,3,5,빠세 꼼보제,8,0,0,0,0,0,0,...,0,0,0.0,1,0.0,0,0,1,0,0

In [3]:
user = pd.read_csv('user_data.csv',encoding = 'cp949')
user_rating = pd.read_csv('new_user_data.csv', encoding = 'cp949')
user_rating = user_rating.T
user_rating = user_rating.values
user_rating

array([[ 0.5],
       [ 1. ],
       [ 2. ],
       [ 3. ],
       [ 5. ],
       [ 7. ],
       [ 8. ],
       [10. ]])

In [4]:
user['rating'] = user_rating
user

   userid  courseid                                course  rating
0       8       223                  서울북악스카이웨이,아델라베일리,팔각정     0.5
1       8       322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
2       8       332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
3       8       353                          강릉초당순두부,삼양목장     3.0
4       8       355                        부안내소사,변산반도,채석강     5.0
5       8       357  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
6       8       361    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국     8.0
7       8       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0

In [5]:
data.shape

(1702, 31)

In [6]:
new = data[['userid','courseid','rating']]
user_new = user[['userid','courseid','rating']]
new = new.append(user_new)

In [7]:
data_matrix = new.pivot_table('rating', index = 'userid', columns = 'courseid')
data_matrix.head()

courseid,1,2,3,4,5,6,7,8,9,10,...,784,785,786,787,788,789,790,791,792,793
userid,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,7.0,8.0,7.0,6.0,7.0,7.0,7.0,7.0,7.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.0,5.0,8.0,8.0,6.0,4.0,5.0,7.0,6.0
3,NaN,7.0,4.0,NaN,8.0,NaN,7.0,NaN,NaN,NaN,...,6.0,7.0,8.0,7.0,7.0,7.0,6.0,7.0,8.0,7.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.0,6.0,9.0,9.0,8.0,8.0,7.0,8.0,5.0
5,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,...,5.0,6.0,6.0,6.0,5.0,8.0,8.0,6.0,6.0,8.0

In [8]:
data_matrix = data[['userid','course','rating']]
user_matrix = user[['userid','course','rating']]
data_matrix = data_matrix.append(user_matrix)

In [9]:
rating_matrix = data_matrix.pivot_table('rating', index = 'userid', columns = 'course')
rating_matrix = rating_matrix.fillna(0)
rating_matrix

course,"5.18 민주화 운동기록관, 5.18 민주광장, 5.18민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.19민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.20민주평화관( 옛 전남도청)","6.25 전쟁체험전시관, 청간정, DMZ박물관, 왕고마을 한옥민박","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 40계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 41계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 42계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 43계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 44계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 45계단/기념관, 용두산공원",...,홀리데이 인 인천송도,"홍성남당항,홍성군조류탐사과학관,그림이있는정원","화순 만연산 치유의 숲, 쌍봉사",화순 백아산 자연휴양림 진달래꽃,"회덕향교, 동춘당, 송애당, 고흥류씨 정려각, 우암사적공원","효석문화마을, 봉평정통시장,메밀막국수, 허브나라농원",후포항 블루오션,휘닉스 제주 섭지코지,휘슬락 호텔,히든 클리프 호텔&네이쳐
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,5.0,8.0
2,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,8.0,2.0
3,8.0,0.0,0.0,8.0,0.0,0.0,9.0,0.0,0.0,0.0,...,8.0,8.0,9.0,9.0,3.0,7.0,7.0,5.0,5.0,9.0
4,0.0,9.0,0.0,9.0,0.0,0.0,0.0,7.0,0.0,0.0,...,6.0,0.0,8.0,8.0,7.0,8.0,7.0,8.0,3.0,6.0
5,0.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,8.0,0.0,8.0,8.0,8.0,9.0,6.0,9.0,7.0,1.0
6,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,8.0,...,6.0,0.0,0.0,0.0,9.0,0.0,0.0,7.0,8.0,1.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,6.0,0.0,0.0,5.0,2.0,8.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 여행 코스 간 유사도 산출(영화 간의 유사도만을 가지고 추천)

In [10]:
rating_matrix_T = rating_matrix.transpose()
rating_matrix_T.head()

userid,1,2,3,4,5,6,7,8
course,,,,,,,,
"5.18 민주화 운동기록관, 5.18 민주광장, 5.18민주평화관( 옛 전남도청)",0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
"5.18 민주화 운동기록관, 5.18 민주광장, 5.19민주평화관( 옛 전남도청)",0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
"5.18 민주화 운동기록관, 5.18 민주광장, 5.20민주평화관( 옛 전남도청)",0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0
"6.25 전쟁체험전시관, 청간정, DMZ박물관, 왕고마을 한옥민박",0.0,0.0,8.0,9.0,7.0,8.0,0.0,0.0
"BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 40계단/기념관, 용두산공원",8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
item_sim = cosine_similarity(rating_matrix_T, rating_matrix_T)
item_sim_df = pd.DataFrame(data = item_sim, index = rating_matrix.columns, columns = rating_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(765, 765)

course,"5.18 민주화 운동기록관, 5.18 민주광장, 5.18민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.19민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.20민주평화관( 옛 전남도청)","6.25 전쟁체험전시관, 청간정, DMZ박물관, 왕고마을 한옥민박","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 40계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 41계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 42계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 43계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 44계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 45계단/기념관, 용두산공원",...,홀리데이 인 인천송도,"홍성남당항,홍성군조류탐사과학관,그림이있는정원","화순 만연산 치유의 숲, 쌍봉사",화순 백아산 자연휴양림 진달래꽃,"회덕향교, 동춘당, 송애당, 고흥류씨 정려각, 우암사적공원","효석문화마을, 봉평정통시장,메밀막국수, 허브나라농원",후포항 블루오션,휘닉스 제주 섭지코지,휘슬락 호텔,히든 클리프 호텔&네이쳐
course,,,,,,,,,,,,,,,,,,,,,
"5.18 민주화 운동기록관, 5.18 민주광장, 5.18민주평화관( 옛 전남도청)",1.0,0.0,0.0,0.498058,0.0,0.0,1.0,0.0,0.0,0.0,...,0.456584,1.0,0.622543,0.622543,0.194054,0.502571,0.497468,0.296695,0.322749,0.568075
"5.18 민주화 운동기록관, 5.18 민주광장, 5.19민주평화관( 옛 전남도청)",0.0,1.0,0.0,0.560316,0.0,0.0,0.0,1.0,0.0,0.0,...,0.342438,0.0,0.553372,0.553372,0.452792,0.574367,0.497468,0.474713,0.193649,0.378717
"5.18 민주화 운동기록관, 5.18 민주광장, 5.20민주평화관( 옛 전남도청)",0.0,0.0,1.0,0.435801,0.0,0.0,0.0,0.0,1.0,0.0,...,0.456584,0.0,0.553372,0.553372,0.517477,0.646162,0.426401,0.534052,0.451848,0.063119

In [13]:
item_sim_df["해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드"].sort_values(ascending = False)[:10]

course
송도해상케이블카,부평시장,국제시장,비프거리,광안리해수욕장,더에이블    1.0
제주쇠소깍,국수의전설,코코몽에코파크                     1.0
경주백악기월드,수리뫼,문무대왕릉                       1.0
경주석굴암,한정식늘봄,대릉원,황리단길,카페사바하,동궁과월지        1.0
수도국산 달동네 박물관, 인천 어린이 과학관                1.0
단양다누리아쿠아리움,수양개빛터널,단양잔도,오성통닭,제천청풍모노레일    1.0
제주에코랜드,올레시장                             1.0
통영루지,통영중앙시장,부산해저터널,해운대야경,더베이101         1.0
제주애월,봄날카페                               1.0
강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점    1.0
Name: 해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드, dtype: float64

# 아이템 기반 최근접 이웃 협업 필터링으로 추천

In [14]:
def predict_rating(rating_arr, item_sim_arr):
    rating_pred = rating_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis = 1)])
    return rating_pred

In [15]:
rating_pred = predict_rating(rating_matrix.values, item_sim_df.values)
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix.head()

course,"5.18 민주화 운동기록관, 5.18 민주광장, 5.18민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.19민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.20민주평화관( 옛 전남도청)","6.25 전쟁체험전시관, 청간정, DMZ박물관, 왕고마을 한옥민박","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 40계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 41계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 42계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 43계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 44계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 45계단/기념관, 용두산공원",...,홀리데이 인 인천송도,"홍성남당항,홍성군조류탐사과학관,그림이있는정원","화순 만연산 치유의 숲, 쌍봉사",화순 백아산 자연휴양림 진달래꽃,"회덕향교, 동춘당, 송애당, 고흥류씨 정려각, 우암사적공원","효석문화마을, 봉평정통시장,메밀막국수, 허브나라농원",후포항 블루오션,휘닉스 제주 섭지코지,휘슬락 호텔,히든 클리프 호텔&네이쳐
userid,,,,,,,,,,,,,,,,,,,,,
1,1.396380,1.837730,1.896515,1.716104,7.694990,3.976564,1.396380,1.837730,1.896515,2.447889,...,2.611456,1.396380,1.652760,1.652760,1.926336,1.689426,2.711133,2.199724,2.707258,2.763843
2,0.719298,1.020564,1.035726,0.998241,1.973824,7.111539,0.719298,1.020564,1.035726,2.444634,...,1.515297,0.719298,0.887532,0.887532,1.226855,0.911164,1.079744,1.507166,1.779647,1.319545
3,7.954943,3.387196,3.509629,5.324800,3.351392,3.478002,7.954943,3.387196,3.509629,4.770525,...,5.002631,7.954943,5.499762,5.499762,4.349546,5.161146,5.081918,4.553983,4.830646,5.401255
4,2.289822,7.730912,4.061862,4.566637,2.981707,3.335976,2.289822,7.730912,4.061862,5.569239,...,3.940841,2.289822,4.258850,4.258850,4.823952,4.465243,4.133000,4.507901,3.863524,3.711766
5,2.352415,4.027324,7.647864,4.318372,3.050920,3.356749,2.352415,4.027324,7.647864,5.732274,...,4.149515,2.352415,4.246838,4.246838,4.935035,4.575918,4.005402,4.598964,4.433315,3.106212

##  <span style="color:blue">MSE : 딥러닝 손실 함수</span>

### : <span style="color:blue">손실함수는 정답에 대한 오류를 숫자로 나타내는 것으로 오답에 가까울수록 큰 값이 나옴</span>

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
def get_mse(pred, actual): #사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 구하기
    pred = pred[actual.nonzero()].flatten() #평점이 있는 실제 영화만 추출
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [18]:
print('아이템 기반 모든 최근접 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  10.879289352586172

In [19]:
def predict_rating_topsim(rating_arr, item_sim_arr, n = 20):
    pred = np.zeros(rating_arr.shape) #예측 행렬 초기화
    
    for col in range(rating_arr.shape[1]): #사용자-아이템 평점 행렬 열 크기만큼 루프 수행
        top_n_items = [np.argsort(item_sim_arr[:, col])[: -n-1 : -1]] #유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬 인덱스 반환
        for row in range(rating_arr.shape[0]): #개인화된 예측 평점 계산
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(rating_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    return pred

In [20]:
rating_pred = predict_rating_topsim(rating_matrix.values, item_sim_df.values, n = 20)
print('어아탬 기반 최근접 TOP-20 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

어아탬 기반 최근접 TOP-20 이웃 MSE :  1.9293857112645718

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

In [21]:
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)

In [22]:
user_rating_id = rating_matrix.loc[8, :] #user = 7인 사용자에 대해 영화 추천
user_rating_id[ user_rating_id > 0 ].sort_values(ascending = False)[:10]

course
순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스             10.0
속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국       8.0
강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
부안내소사,변산반도,채석강                           5.0
강릉초당순두부,삼양목장                             3.0
제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       2.0
제주히든클리프호텔,올데이다이닝파노라마레스토랑                 1.0
서울북악스카이웨이,아델라베일리,팔각정                     0.5
Name: 8, dtype: float64

In [23]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [24]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [25]:
un_list = get_unseen_course(rating_matrix, 7) #id 7이 다녀오지 않은 코스 추출

In [26]:
recomm_course = recomm_course_by_userid(rating_pred_matrix, 8, un_list, 30) #최근접 이웃 협엄 필터링으로 30개 코스 추천

In [27]:
recomm_course = pd.DataFrame(data = recomm_course.values, index = recomm_course.index, columns = ['pred_score'])
recomm_course

                                                    pred_score
course
강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점                  2.212211
속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국                    0.950167
제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피                    0.110692
명동, 광화문 및 종로, 서울시티투어버스, 이태원, 한옥마을, 남산서울타워 야경          0.102772
DMC 투어, 문화비축기지, 월드컵공원, 홍대입구                           0.102044
제주도유동커피,올레길,모카다방                                      0.099589
대가야 박물관, 대가야 왕릉전시관, 대가야 역사테마관광지, 지산동 고분군              0.094451
우륵박물관,가얏고마을, 개실마을                                     0.094319
경산시립박물관, 영남대학교 민속촌, 경산향교, 남매지                         0.093963
영남대학교 민속촌, 경산시립박물관, 자인계정숲, 자인시장(중식), 삼성현 역사문화공원...    0.093887
삼존석굴, 팔공산 하늘정원, 한밤마을, 화본역, 화본마을, 삼국유사 테마파크, 인각사       0.093887
도리사, 선산곱창, 일선리 문화재 마을, 신라불교 초전지, 선산 봉황시장              0.093829
반구대 암각화, 울주 천전리 각석, 울주 언양읍성                           0.093392
정강원                                                   0.092939
왕산 허위선생 기념관, 박정희 대통령 생가, 새마을 테마공원, 금오산 올레길, 야은 ...    0.092864
칠곡호국평화기념관,꿀벌나라테마공원, 왜관철교, 왜관시장                        0.092864
팔공산 관봉석조여래좌상(갓바위), 원효암, 불굴사                           0.092864
선본사, 불굴사, 자인향교, 반곡지                                   0.092864
송정자연휴양림, 세아수목원, 다부동 전적기념관, 송림사, 가산산성, 한티순교성지          0.092864
낙동강역사너울길, 구상문학관, 가실성당, 매원마을                           0.092765
신안 우이도                                                0.049396
잠실롯데시그니엘호텔,롯데월드                                       0.048987
서울북악스카이웨이,아델라베일리,팔각정                                  0.029283
무안 못난이 미술관                                            0.000000
몽상드애월카페,아기해녀의집                                        0.000000
득량역 추억의 거리, 태백산백문학관(조정래)                              0.000000
백운산자연휴양림, 광양느랭이골, 농부네텃밭도서관,와인동굴                       0.000000
백운동 별서정원, 감성 강진의 하룻길(김영랑), 한국민화뮤지엄                    0.000000
르카페말리                                                 0.000000
대구 가실성당, 매원마을, 왜관철교                                   0.000000

# 행렬 분해를 이용한 잠재 요인 협업 필터링 추천

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
def get_rmse(R, P, Q, non_zeros): #실제 R 행렬과 예측 행렬의 오차 구하기
    error = 0
    full_pred_matrix = np.dot(P, Q.T) #두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성(np.dot함수는 내적 함수)
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    return rmse

In [30]:
def matrix_factorization(R, K, steps, learning_rate, r_lambda):
    #R : 원본 사용자-아이템 평점 행렬
    #K : 잠재요인의 차원 수
    #step : SGD의 반복 횟수
    num_users, num_items = R.shape
    np.random.seed(1)
    P = np.random.normal(scale = 1./K, size = (num_users, K))
    Q = np.random.normal(scale = 1./K, size = (num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]
     
    for step in range(steps):
        for i, j, r in non_zeros:
            eij = r - np.dot(P[i, :], Q[j, :].T)
            P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
            Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
        rmse = get_rmse(R, P, Q, non_zeros)
        if(step % 10) == 0:
            print("### iteration step : ",step, " rmse : ", rmse)
    return P,Q

In [31]:
rating = new[['userid', 'courseid', 'rating']]
rating

    userid  courseid  rating
0        5         1     6.0
1        3         2     7.0
2        3         3     4.0
3        1         4     6.0
4        3         5     8.0
..     ...       ...     ...
3        8       353     3.0
4        8       355     5.0
5        8       357     7.0
6        8       361     8.0
7        8       368    10.0

[1710 rows x 3 columns]

In [32]:
rating_matrix = rating.pivot_table('rating', index = 'userid', columns = 'courseid')
rating_matrix = data_matrix.pivot_table('rating', index = 'userid', columns = 'course')

In [33]:
P, Q = matrix_factorization(rating_matrix.values, 50, 200, 0.01, 0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  7.391213547559193
### iteration step :  10  rmse :  0.9581418735143743
### iteration step :  20  rmse :  0.21906848023790884
### iteration step :  30  rmse :  0.11633796228807075
### iteration step :  40  rmse :  0.07030584064045337
### iteration step :  50  rmse :  0.05913979993397181
### iteration step :  60  rmse :  0.0552054811688294
### iteration step :  70  rmse :  0.05251943848449146
### iteration step :  80  rmse :  0.050291883425486794
### iteration step :  90  rmse :  0.04835752756542465
### iteration step :  100  rmse :  0.046649670642165665
### iteration step :  110  rmse :  0.04512691925873737
### iteration step :  120  rmse :  0.043758884609274726
### iteration step :  130  rmse :  0.042521926576418824
### iteration step :  140  rmse :  0.04139718767667166
### iteration step :  150  rmse :  0.040369391836256215
### iteration step :  160  rmse :  0.0394260142595455
### iteration step :  170  rmse :  0.03855667787066982
### iteration step :  180  rmse :  0.03775270345673897
### iteration step :  190  rmse :  0.037006769016508234

In [34]:
rating_pred_matrix = pd.DataFrame(data = pred_matrix, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix

course,"5.18 민주화 운동기록관, 5.18 민주광장, 5.18민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.19민주평화관( 옛 전남도청)","5.18 민주화 운동기록관, 5.18 민주광장, 5.20민주평화관( 옛 전남도청)","6.25 전쟁체험전시관, 청간정, DMZ박물관, 왕고마을 한옥민박","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 40계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 41계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 42계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 43계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 44계단/기념관, 용두산공원","BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 박물관, 45계단/기념관, 용두산공원",...,홀리데이 인 인천송도,"홍성남당항,홍성군조류탐사과학관,그림이있는정원","화순 만연산 치유의 숲, 쌍봉사",화순 백아산 자연휴양림 진달래꽃,"회덕향교, 동춘당, 송애당, 고흥류씨 정려각, 우암사적공원","효석문화마을, 봉평정통시장,메밀막국수, 허브나라농원",후포항 블루오션,휘닉스 제주 섭지코지,휘슬락 호텔,히든 클리프 호텔&네이쳐
userid,,,,,,,,,,,,,,,,,,,,,
1,6.722923,7.633992,7.648316,7.484825,7.957398,6.367892,7.550108,6.032090,5.992802,7.132614,...,6.988511,6.876752,7.798709,7.908241,5.412273,7.541017,7.970565,2.083597,5.002986,7.960412
2,5.632035,6.832399,6.642965,7.071194,6.060456,6.959208,6.193882,5.260586,5.379654,6.521584,...,6.980878,5.695346,6.589794,6.635181,6.579323,6.919479,6.120740,6.010386,7.950159,2.030483
3,7.957142,7.856447,7.865678,7.985297,6.964479,6.142640,8.951746,6.042686,6.179712,7.219657,...,7.958183,7.963336,8.975666,8.975204,3.067238,7.011931,6.995745,5.031255,4.985679,8.924819
4,6.375464,8.949379,7.510349,8.958109,6.373234,6.076660,7.189510,6.959365,5.966796,7.116724,...,5.987931,6.463957,7.984440,7.984589,6.998850,7.986975,6.977610,7.977826,3.040324,5.961493
5,6.731251,7.842446,8.949622,7.003935,6.626060,6.022165,7.436597,6.140086,6.961016,7.316655,...,7.958185,6.739475,7.984204,7.984478,7.974891,8.963525,6.000962,8.939394,6.960320,1.086986
6,5.317134,6.716860,6.626693,7.962789,5.393824,5.567292,6.112858,5.041004,5.248922,7.951933,...,5.976821,5.446233,6.217442,6.430250,8.958560,6.884458,5.233049,6.974038,7.949104,1.031894
7,6.150603,7.504495,7.148073,7.671848,6.391686,5.891652,7.004340,5.879116,5.748600,6.831342,...,3.051340,6.303307,7.289213,7.381023,5.986082,7.151146,6.516289,4.998842,2.042958,7.951151
8,3.771945,4.915269,4.263243,5.747036,4.026296,3.882133,4.260256,3.819216,3.378226,4.794953,...,2.255427,3.905931,4.476165,4.590472,4.507475,4.412156,4.271956,3.212746,1.985532,4.833275

In [35]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [36]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [37]:
un_list = get_unseen_course(rating_matrix, 8) #id 8이 다녀오지 않은 코스 추출

In [38]:
matrix_recomm_course = recomm_course_by_userid(rating_pred_matrix, 8, un_list, 30) #최근접 이웃 협엄 필터링으로 30개 코스 추천

In [39]:
matrix_recomm_course = pd.DataFrame(data = matrix_recomm_course.values, index = matrix_recomm_course.index, columns = ['pred_score'])
matrix_recomm_course

                                                    pred_score
course
가평 레저 카트장, 취옹 예술관, 아침고요수목원, 백련사 템플스테이                 6.708687
인천아트 플랫폼, 인천개항장 근대건축전시관, 인천개항박물관,대불호텔 중구 생활사전시관...    6.384966
네스트 호텔                                                6.248261
제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름               6.246115
블루로드 : 영덕 대게공원~고래불해수욕장                                6.085447
군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,군...    6.061904
여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장                       6.016922
송도 센트럴 파크 호텔                                          5.899075
6.25 전쟁체험전시관, 청간정, DMZ박물관, 왕고마을 한옥민박                  5.747036
봉정사, 안동한지공장전시관, (구시장 찜닭골목)안동찜닭, 하회세계탈박물관, 하회마을,...    5.692891
속초대포항튀김골목,씨씨카페                                        5.680211
베스트웨스턴 프리미어 인천 에어포트 호텔                                5.647333
백운산자연휴양림, 광양느랭이골, 농부네텃밭도서관,와인동굴                       5.645778
제주숨비정원,안돌오름                                           5.641281
경주민속공예촌,동궁원,경주산림환경연구원,통일전,황룡사역사문화관                    5.637287
안면도카페바다,대양횟집                                          5.626762
장릉, 청령포, 어라연산소실 트레킹                                   5.621004
제주도황우지해안,춘심이네,가배카페                                    5.608678
양평두물머리,나인블럭,테레로사,대복식당불고기가게                            5.603030
강릉소돌아들바위공원,주문진항,도깨비촬영지,보헤미안박이추커피,사천포구,강릉커피콩빵,강릉...    5.587367
강릉허균허난설헌기념관,강문해변                                      5.577222
제주도착한전복                                               5.575405
목포수가정해물순두부,연희네슈퍼,코롬방제과,주일굴보쌈,홈보이                      5.541001
태안안면도수목원                                              5.533254
동궁과월지(안압지),첨성대,교촌마을,월정교                               5.520159
장암산 패러글라이딩                                            5.520096
강릉하슬라아트월드                                             5.519125
군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장,...    5.496737
BIFF광장, 국제시장, 부평깡통시장, 보수동책방골목, 부산근대역사관, 부산영화체험 ...    5.489903
광명동굴,삼백돈돈가츠                                           5.481066

# Content_based recommendation

In [40]:
course_df = data.drop(['userid', 'rating'], axis = 1)
course_df.head()

,courseid,course,GW,GB,GN,JB,JN,CHOONG,JEJU,GEONGGI,...,tree,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter
0,1,"영종진 공원, 영종역사관, 레일바이크",0,0,0,0,0,0,0,0,...,1,0,0.0,0,0.0,0,0,0,1,0
1,2,"네스트호텔, 플라츠레스토랑",0,0,0,0,0,0,0,0,...,0,0,1.0,1,0.0,0,0,1,0,0
2,3,"월미도 놀이공원, 을왕리 해수욕장",0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,0,0,1
3,4,대이작도 배낚시,0,0,0,0,0,0,0,0,...,0,0,0.0,0,0.0,0,0,1,0,0
4,5,빠세 꼼보제,0,0,0,0,0,0,0,0,...,0,0,0.0,1,0.0,0,0,1,0,0

In [41]:
user_df = user[['course','rating']]
user_df

                                 course  rating
0                  서울북악스카이웨이,아델라베일리,팔각정     0.5
1              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
2    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
3                          강릉초당순두부,삼양목장     3.0
4                        부안내소사,변산반도,채석강     5.0
5  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
6    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국     8.0
7           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0

In [42]:
inputId = course_df[course_df['course'].isin(user_df['course'].tolist())]
result = pd.merge(inputId, user_df)
result

,courseid,course,GW,GB,GN,JB,JN,CHOONG,JEJU,GEONGGI,...,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter,rating
0,613,"서울북악스카이웨이,아델라베일리,팔각정",0,0,0,0,0,0,0,0,...,1,1.0,0,0.0,0,1,1,1,1,0.5
1,613,"서울북악스카이웨이,아델라베일리,팔각정",0,0,0,0,0,0,0,0,...,1,1.0,0,0.0,0,1,1,1,1,0.5
2,713,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1.0,1,0.0,0,1,1,1,1,1.0
3,713,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1.0,1,0.0,0,1,1,1,1,1.0
4,713,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1.0,1,0.0,0,1,1,1,1,1.0
5,713,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1.0,1,0.0,0,1,1,1,1,1.0
6,713,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1.0,1,0.0,0,1,1,1,1,1.0
7,713,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1.0,1,0.0,0,1,1,1,1,1.0
8,724,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1.0,0,1.0,0,1,1,1,1,2.0
9,724,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1.0,0,1.0,0,1,1,1,1,2.0
10,724,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1.0,0,1.0,0,1,1,1,1,2.0
11,744,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,3.0
12,744,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,3.0
13,744,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,3.0
14,744,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,3.0
15,744,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,3.0
16,744,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,3.0
17,746,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0.0,0,0.0,0,0,0,1,0,5.0
18,746,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0.0,0,0.0,0,0,0,1,0,5.0
19,746,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0.0,0,0.0,0,0,0,1,0,5.0
20,746,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0.0,0,0.0,0,0,0,1,0,5.0
21,746,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0.0,0,0.0,0,0,0,1,0,5.0
22,746,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0.0,0,0.0,0,0,0,1,0,5.0
23,748,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,7.0
24,752,"속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국",1,0,0,0,0,0,0,0,...,0,1.0,0,0.0,0,1,1,1,1,8.0
25,761,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,10.0
26,761,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,10.0
27,761,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,10.0
28,761,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,10.0
29,761,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,10.0
30,761,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1.0,0,1.0,0,1,1,1,1,10.0

In [43]:
result_df = result[['courseid', 'course', 'rating']]
result_df

    courseid                                course  rating
0        613                  서울북악스카이웨이,아델라베일리,팔각정     0.5
1        613                  서울북악스카이웨이,아델라베일리,팔각정     0.5
2        713              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
3        713              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
4        713              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
5        713              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
6        713              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
7        713              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
8        724    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
9        724    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
10       724    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
11       744                          강릉초당순두부,삼양목장     3.0
12       744                          강릉초당순두부,삼양목장     3.0
13       744                          강릉초당순두부,삼양목장     3.0
14       744                          강릉초당순두부,삼양목장     3.0
15       744                          강릉초당순두부,삼양목장     3.0
16       744                          강릉초당순두부,삼양목장     3.0
17       746                        부안내소사,변산반도,채석강     5.0
18       746                        부안내소사,변산반도,채석강     5.0
19       746                        부안내소사,변산반도,채석강     5.0
20       746                        부안내소사,변산반도,채석강     5.0
21       746                        부안내소사,변산반도,채석강     5.0
22       746                        부안내소사,변산반도,채석강     5.0
23       748  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
24       752    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국     8.0
25       761           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
26       761           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
27       761           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
28       761           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
29       761           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
30       761           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0

In [45]:
result_detail = result[['specific', 'water', 'tree', 'ruins', 'eat', 'hotel', 'cafe', 'pet', 'spring', 'summer', 'fall', 'winter']]
result_detail

,specific,water,tree,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter
0,1,0,1,1,1.0,0,0.0,0,1,1,1,1
1,1,0,1,1,1.0,0,0.0,0,1,1,1,1
2,0,1,1,0,1.0,1,0.0,0,1,1,1,1
3,0,1,1,0,1.0,1,0.0,0,1,1,1,1
4,0,1,1,0,1.0,1,0.0,0,1,1,1,1
5,0,1,1,0,1.0,1,0.0,0,1,1,1,1
6,0,1,1,0,1.0,1,0.0,0,1,1,1,1
7,0,1,1,0,1.0,1,0.0,0,1,1,1,1
8,0,1,0,0,1.0,0,1.0,0,1,1,1,1
9,0,1,0,0,1.0,0,1.0,0,1,1,1,1
10,0,1,0,0,1.0,0,1.0,0,1,1,1,1
11,0,0,1,0,1.0,0,0.0,0,1,1,1,1
12,0,0,1,0,1.0,0,0.0,0,1,1,1,1
13,0,0,1,0,1.0,0,0.0,0,1,1,1,1
14,0,0,1,0,1.0,0,0.0,0,1,1,1,1
15,0,0,1,0,1.0,0,0.0,0,1,1,1,1
16,0,0,1,0,1.0,0,0.0,0,1,1,1,1
17,0,0,1,1,0.0,0,0.0,0,0,0,1,0
18,0,0,1,1,0.0,0,0.0,0,0,0,1,0
19,0,0,1,1,0.0,0,0.0,0,0,0,1,0
20,0,0,1,1,0.0,0,0.0,0,0,0,1,0
21,0,0,1,1,0.0,0,0.0,0,0,0,1,0
22,0,0,1,1,0.0,0,0.0,0,0,0,1,0
23,0,1,1,1,1.0,0,1.0,0,1,1,1,1
24,0,0,0,0,1.0,0,0.0,0,1,1,1,1
25,0,0,1,1,1.0,0,1.0,0,1,1,1,1
26,0,0,1,1,1.0,0,1.0,0,1,1,1,1
27,0,0,1,1,1.0,0,1.0,0,1,1,1,1
28,0,0,1,1,1.0,0,1.0,0,1,1,1,1
29,0,0,1,1,1.0,0,1.0,0,1,1,1,1
30,0,0,1,1,1.0,0,1.0,0,1,1,1,1

In [46]:
userProfile = result_detail.transpose().dot(result_df['rating'])
userProfile

specific      1.0
water        19.0
tree        122.0
ruins        98.0
eat         106.0
hotel         6.0
cafe         73.0
pet           0.0
spring      106.0
summer      106.0
fall        136.0
winter      106.0
dtype: float64

In [49]:
courseTable = course_df.set_index(course_df['courseid'])
courseTable = courseTable[['specific', 'water', 'tree', 'ruins', 'eat', 'hotel', 'cafe', 'pet', 'spring', 'summer', 'fall', 'winter']]
courseTable.head()

,specific,water,tree,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter
courseid,,,,,,,,,,,,
1,0,1,1,0,0.0,0,0.0,0,0,0,1,0
2,0,0,0,0,1.0,1,0.0,0,0,1,0,0
3,1,0,0,0,0.0,0,0.0,0,0,0,0,1
4,1,0,0,0,0.0,0,0.0,0,0,1,0,0
5,1,0,0,0,0.0,1,0.0,0,0,1,0,0

In [50]:
recoTable_df = ((courseTable * userProfile).sum(axis = 1)) / (userProfile.sum())
recoTable_df.head()

courseid
1    0.315131
2    0.248009
3    0.121729
4    0.121729
5    0.128555
dtype: float64

In [51]:
recoTable_df = recoTable_df.sort_values(ascending = False) # 내림차순
recoTable_df

courseid
661    0.993174
748    0.992036
733    0.992036
582    0.992036
748    0.992036
         ...
234    0.121729
234    0.121729
119    0.022753
119    0.022753
119    0.022753
Length: 1702, dtype: float64

In [52]:
rank = course_df.loc[course_df['courseid'].isin(recoTable_df.head(20).keys())]
rank

,courseid,course,GW,GB,GN,JB,JN,CHOONG,JEJU,GEONGGI,...,tree,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter
1250,582,"부산남포동부산길거리음식,해운대더베이101",0,0,0,0,0,0,0,0,...,0,0,1.0,0,0.0,0,1,1,1,1
1260,592,"곡성씨엘로,가정역폐역,도림사계곡,단편카페",0,0,0,0,1,0,0,0,...,1,0,0.0,0,1.0,0,1,1,1,1
1303,582,"강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1313,592,"제주새우리김밥,평대앓이,보롬왓,협재해수욕장",0,0,0,0,0,0,1,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1383,661,"여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당",0,0,0,0,1,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1483,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1484,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1485,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1489,737,"군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1496,741,"강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1518,748,"강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1519,748,"강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1520,748,"강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1521,748,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1522,748,"강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1523,748,"강릉경포해변,초당115,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1582,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페196,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1583,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페197,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1584,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페198,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1585,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1586,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
1587,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페201,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1

In [53]:
rankId = data[data['course'].isin(rank['course'].tolist())]
final = pd.merge(rankId, rank)
final

,userid,courseid,course,rating,GW,GB,GN,JB,JN,CHOONG,...,tree,ruins,eat,hotel,cafe,pet,spring,summer,fall,winter
0,3,582,"부산남포동부산길거리음식,해운대더베이101",10,0,0,0,0,0,0,...,0,0,1.0,0,0.0,0,1,1,1,1
1,3,592,"곡성씨엘로,가정역폐역,도림사계곡,단편카페",10,0,0,0,0,1,0,...,1,0,0.0,0,1.0,0,1,1,1,1
2,3,582,"강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진",9,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
3,1,592,"제주새우리김밥,평대앓이,보롬왓,협재해수욕장",7,0,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
4,4,661,"여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당",9,0,0,0,0,1,0,...,1,1,1.0,0,1.0,0,1,1,1,1
5,7,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
6,7,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
7,7,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
8,1,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
9,1,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
10,1,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
11,2,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
12,2,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
13,2,733,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1.0,0,1.0,0,1,1,1,1
14,7,737,"군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...",7,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
15,3,741,"강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106",8,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
16,1,748,"강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
17,2,748,"강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점",4,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
18,3,748,"강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
19,4,748,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",4,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
20,5,748,"강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
21,7,748,"강릉경포해변,초당115,허균허난설헌기념공원,경포호,원조강릉교동반점",5,1,0,0,0,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
22,1,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페196,경일철도마을,선유도해수욕장...",7,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
23,2,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페197,경일철도마을,선유도해수욕장...",6,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
24,3,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페198,경일철도마을,선유도해수욕장...",8,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
25,4,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...",10,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
26,5,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장...",6,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1
27,7,769,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페201,경일철도마을,선유도해수욕장...",5,0,0,0,1,0,0,...,1,1,1.0,0,1.0,0,1,1,1,1

In [54]:
fi_result = final[['courseid', 'course', 'rating']].sort_values('rating', ascending = False) #rating순대로 배열

In [55]:
fi_result = fi_result.drop_duplicates('courseid', keep='first') #중복 제거
fi_result

    courseid                                             course  rating
0        582                             부산남포동부산길거리음식,해운대더베이101      10
1        592                             곡성씨엘로,가정역폐역,도림사계곡,단편카페      10
25       769  군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...      10
4        661                    여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당       9
15       741             강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106       8
11       733               단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길       8
20       748               강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점       7
14       737  군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...       7

In [56]:
fi_result.to_csv("content_based.csv")

# item_based & matrix_factorization duplication

In [57]:
recomm_course.to_csv("item_based.csv")

In [58]:
matrix_recomm_course.to_csv("matrix_factorization.csv")

In [62]:
item_based = pd.read_csv('item_based.csv', encoding = 'utf-8')
item_based.head()

                            course  pred_score
0                  해비치 호텔 & 리조트 제주    0.149388
1                      안동만휴정,맘모스제과    0.149282
2  영월젊은달와이파크미술관,한반도면선암마을,청령포,김삿갓계곡    0.149244
3                군산한일옥,초원사진관,히로쓰가옥    0.149180
4             부산파라다이스호텔,씨메르,온더플레이트    0.148478

In [63]:
matrix_factorization = pd.read_csv('matrix_factorization.csv', encoding = 'utf-8')
matrix_factorization.head()

                                              course  pred_score
0            제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름    7.374845
1  군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,...    7.143892
2                    여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장    7.109864
3                             블루로드 : 영덕 대게공원~고래불해수욕장    7.076712
4              제주애월백번가든,협재해수욕장,애월더선셋,김녕미로공원,만장굴,코코마마    6.880873

In [65]:
dupli = item_based[item_based['course'].isin(matrix_factorization['course'].tolist())]
dupli

Empty DataFrame
Columns: [course, pred_score]
Index: []