In [10]:
import tensorflow as tf
import pandas as pd
import numpy as np

# 데이터 가공 및 변환

In [11]:
data = pd.read_csv('data_fin_.csv',encoding = 'cp949')
data.head()

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,1,"유진게찜,엘꼬시네로(스페인음식)",10,1,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,1,2,"동명정류장카페,바다를본돼지",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
2,1,3,"몽상드애월카페,아기해녀의집",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
3,1,4,대전운주계곡,8,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,5,"양양쏠비치송이(한식),호텔내미술관",10,1,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [12]:
user = pd.read_csv('user_data.csv',encoding = 'cp949')
user_rating = pd.read_csv('new_user_data.csv', encoding = 'cp949')
user_rating = user_rating.T
user_rating = user_rating.values
user_rating

array([[ 0.5],
       [ 1. ],
       [ 2. ],
       [ 3. ],
       [ 5. ],
       [ 7. ],
       [ 8. ],
       [10. ]])

In [13]:
user['rating'] = user_rating
user

   userid  courseid                                course  rating
0       8       223                  서울북악스카이웨이,아델라베일리,팔각정     0.5
1       8       322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
2       8       332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
3       8       353                          강릉초당순두부,삼양목장     3.0
4       8       355                        부안내소사,변산반도,채석강     5.0
5       8       357  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
6       8       361    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국     8.0
7       8       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0

In [14]:
data.shape

(603, 31)

In [15]:
new = data[['userid','courseid','rating']]
user_new = user[['userid','courseid','rating']]
new = new.append(user_new)

In [16]:
data_matrix = new.pivot_table('rating', index = 'userid', columns = 'courseid')
data_matrix.head()

courseid,1,2,3,4,5,6,7,8,9,10,...,391,392,393,394,395,396,397,398,399,400
userid,,,,,,,,,,,,,,,,,,,,,
1,10.0,10.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,7.0,8.0,7.0,6.0,7.0,7.0,7.0,7.0,7.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.0,5.0,8.0,8.0,6.0,4.0,5.0,7.0,6.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,7.0,8.0,7.0,7.0,7.0,6.0,7.0,8.0,7.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.0,6.0,9.0,9.0,8.0,8.0,7.0,8.0,5.0
5,NaN,NaN,NaN,NaN,10.0,10.0,10.0,9.0,9.0,10.0,...,5.0,6.0,6.0,6.0,5.0,8.0,8.0,6.0,6.0,8.0

In [17]:
data_matrix = data[['userid','course','rating']]
user_matrix = user[['userid','course','rating']]
data_matrix = data_matrix.append(user_matrix)

In [18]:
rating_matrix = data_matrix.pivot_table('rating', index = 'userid', columns = 'course')
rating_matrix = rating_matrix.fillna(0)
rating_matrix

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,8.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,0.0,0.0,0.0,8.0,6.0,8.0,0.0,0.0,7.0,...,9.0,10.0,9.0,0.0,8.0,0.0,9.0,7.0,9.0,8.0
4,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 여행 코스 간 유사도 산출(영화 간의 유사도만을 가지고 추천)

In [19]:
rating_matrix_T = rating_matrix.transpose()
rating_matrix_T.head()

userid                      1    2    3    4     5    6    7    8
course
DDP,광장시장                  0.0  0.0  9.0  0.0   0.0  0.0  0.0  0.0
가평선어치고개집                  0.0  0.0  0.0  0.0  10.0  0.0  0.0  0.0
가평스위스테마파크,달과6펜스,금강산숯불닭갈비  0.0  0.0  0.0  9.0   0.0  0.0  0.0  0.0
가평아침고요수목원,남이섬,제이드가든       8.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0
강릉강문해변,대관령순수양떼목장          0.0  0.0  8.0  0.0   0.0  0.0  0.0  0.0

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
item_sim = cosine_similarity(rating_matrix_T, rating_matrix_T)
item_sim_df = pd.DataFrame(data = item_sim, index = rating_matrix.columns, columns = rating_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(427, 427)

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
course,,,,,,,,,,,,,,,,,,,,,
"DDP,광장시장",1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
가평선어치고개집,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
"가평스위스테마파크,달과6펜스,금강산숯불닭갈비",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
item_sim_df["해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드"].sort_values(ascending = False)[:10]

course
인천개항장거리,신포시장,답동성당,용화반점,월미공원,한국이민사박물관,월미도테마공원    1.0
부산감천문화마을,부평깡통야시장                                1.0
양양휴휴암,속초삼해횟집,이바이마을,갯배,중앙마을                      1.0
덕수궁,정동길,농업박물관,돈의문박물관마을,경찰박물관,경희궁(역사박물관),청계천     1.0
송도해상케이블카,부평시장,국제시장,비프거리,광안리해수욕장,더에이블            1.0
제주천지연폭포,협재해수욕장,바다를본돼지                           1.0
양평두물머리연핫도그,오르다온                                 1.0
제주카멜리아힐,퍼시픽랜드,오는정김밥,마농치킨                        1.0
인천동화마을,차이나타운연경,짜장면박물관                           1.0
경주석굴암,한정식늘봄,대릉원,황리단길,카페사바하,동궁과월지                1.0
Name: 해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드, dtype: float64

# 아이템 기반 최근접 이웃 협업 필터링으로 추천

In [23]:
def predict_rating(rating_arr, item_sim_arr):
    rating_pred = rating_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis = 1)])
    return rating_pred

In [24]:
rating_pred = predict_rating(rating_matrix.values, item_sim_df.values)
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix.head()

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.531698,1.065021,1.122884,7.785268,0.531698,0.531698,0.531698,7.785268,2.709471,0.531698,...,0.531698,0.531698,0.531698,1.065021,0.531698,1.065021,0.531698,0.531698,0.531698,0.531698
2,0.444129,0.891356,0.981747,1.616643,0.444129,0.444129,0.444129,1.616643,7.269832,0.444129,...,0.444129,0.444129,0.444129,0.891356,0.444129,0.891356,0.444129,0.444129,0.444129,0.444129
3,8.354746,1.198480,1.240269,1.541670,8.354746,8.354746,8.354746,1.541670,2.158266,8.354746,...,8.354746,8.354746,8.354746,1.198480,8.354746,1.198480,8.354746,8.354746,8.354746,8.354746
4,0.566425,1.223026,8.263310,1.486918,0.566425,0.566425,0.566425,1.486918,2.178823,0.566425,...,0.566425,0.566425,0.566425,1.223026,0.566425,1.223026,0.566425,0.566425,0.566425,0.566425
5,0.510700,7.760560,1.141155,1.315889,0.510700,0.510700,0.510700,1.315889,1.845793,0.510700,...,0.510700,0.510700,0.510700,7.760560,0.510700,7.760560,0.510700,0.510700,0.510700,0.510700

##  <span style="color:blue">MSE : 딥러닝 손실 함수</span>

### : <span style="color:blue">손실함수는 정답에 대한 오류를 숫자로 나타내는 것으로 오답에 가까울수록 큰 값이 나옴</span>

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
def get_mse(pred, actual): #사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 구하기
    pred = pred[actual.nonzero()].flatten() #평점이 있는 실제 영화만 추출
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [27]:
print('아이템 기반 모든 최근접 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  9.42038906805885

In [28]:
def predict_rating_topsim(rating_arr, item_sim_arr, n = 20):
    pred = np.zeros(rating_arr.shape) #예측 행렬 초기화
    
    for col in range(rating_arr.shape[1]): #사용자-아이템 평점 행렬 열 크기만큼 루프 수행
        top_n_items = [np.argsort(item_sim_arr[:, col])[: -n-1 : -1]] #유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬 인덱스 반환
        for row in range(rating_arr.shape[0]): #개인화된 예측 평점 계산
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(rating_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    return pred

In [29]:
rating_pred = predict_rating_topsim(rating_matrix.values, item_sim_df.values, n = 20)
print('어아탬 기반 최근접 TOP-20 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

어아탬 기반 최근접 TOP-20 이웃 MSE :  3.0052396419826826

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

In [30]:
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)

In [31]:
user_rating_id = rating_matrix.loc[8, :] #user = 7인 사용자에 대해 영화 추천
user_rating_id[ user_rating_id > 0 ].sort_values(ascending = False)[:10]

course
순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스             10.0
속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국       8.0
강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
부안내소사,변산반도,채석강                           5.0
강릉초당순두부,삼양목장                             3.0
제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       2.0
제주히든클리프호텔,올데이다이닝파노라마레스토랑                 1.0
서울북악스카이웨이,아델라베일리,팔각정                     0.5
Name: 8, dtype: float64

In [32]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [33]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [34]:
un_list = get_unseen_course(rating_matrix, 7) #id 7이 다녀오지 않은 코스 추출

In [35]:
recomm_course = recomm_course_by_userid(rating_pred_matrix, 8, un_list, 30) #최근접 이웃 협엄 필터링으로 30개 코스 추천

In [36]:
recomm_course = pd.DataFrame(data = recomm_course.values, index = recomm_course.index, columns = ['pred_score'])
recomm_course

                                               pred_score
course
강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점             2.212211
속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국               0.950167
제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피               0.767049
양양쏠비치                                            0.268556
천안묵향기,천안삼거리공원,신부동카페어젠,아라리오갤러리,쌍용동족발야시장,학화호도과자    0.223642
양양쏠비치아쿠아월드,후진항,속초관광수산시장                          0.222010
서울신라호텔,더파크뷰,어반아일랜드                               0.203437
잠실롯데시그니엘호텔,롯데월드                                  0.202439
제주도유동커피,올레길,모카다방                                 0.114818
제주도으뜨미,용눈이오름,비자림길,비자블라썸카페,토키썸카페,월정리              0.048707
서울북악스카이웨이,아델라베일리,팔각정                             0.031595
목포바다분수,목포대교,평화광장                                 0.000000
동해묵호등대,등대가페,묵호등대출렁다리                             0.000000
동해묵호야시장,행복상회,논골담길,논골카페                           0.000000
목포근대역사관,노적봉,김대중노벨평화상기념관                          0.000000
목포김가네해물한정식,근대역사관                                 0.000000
목포김대중노벨평화상기념관,목포어린이바다과학관,목포자연사박물관                0.000000
목포끝집포차,밤바다포차,목포근대역사관,유달산                         0.000000
목포노적봉,유달산공원,근대역사관,본전회수산,평화광장바다분수                 0.000000
부산광안리,알로이삥삥,수변공원                                 0.000000
목포연희네슈퍼,서산동시화골목길,갓바위,목포근대역사본관,오포대,유달유업           0.000000
부산감천문화마을,부평깡통야시장                                 0.000000
목포코롬방제과,고래회수산                                    0.000000
목포해상케이블카북항승강장,독천식당,목포근대역사문화관                     0.000000
부산광안리,홍미당,동백섬,해운대,오감쌀롱                           0.000000
몽상드애월카페,아기해녀의집                                   0.000000
보령대오천항,오천성,대천항수산시장,대천해수욕장                        0.000000
보령대한국정원,희랑                                       0.000000
목포영산강,옥암수변공원                                     0.000000
동명정류장카페,바다를본돼지                                   0.000000

# 행렬 분해를 이용한 잠재 요인 협업 필터링 추천

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
def get_rmse(R, P, Q, non_zeros): #실제 R 행렬과 예측 행렬의 오차 구하기
    error = 0
    full_pred_matrix = np.dot(P, Q.T) #두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성(np.dot함수는 내적 함수)
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    return rmse

In [39]:
def matrix_factorization(R, K, steps, learning_rate, r_lambda):
    #R : 원본 사용자-아이템 평점 행렬
    #K : 잠재요인의 차원 수
    #step : SGD의 반복 횟수
    num_users, num_items = R.shape
    np.random.seed(1)
    P = np.random.normal(scale = 1./K, size = (num_users, K))
    Q = np.random.normal(scale = 1./K, size = (num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]
     
    for step in range(steps):
        for i, j, r in non_zeros:
            eij = r - np.dot(P[i, :], Q[j, :].T)
            P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
            Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
        rmse = get_rmse(R, P, Q, non_zeros)
        if(step % 10) == 0:
            print("### iteration step : ",step, " rmse : ", rmse)
    return P,Q

In [40]:
rating = new[['userid', 'courseid', 'rating']]
rating

    userid  courseid  rating
0        1         1    10.0
1        1         2    10.0
2        1         3    10.0
3        1         4     8.0
4        5         5    10.0
..     ...       ...     ...
3        8       353     3.0
4        8       355     5.0
5        8       357     7.0
6        8       361     8.0
7        8       368    10.0

[611 rows x 3 columns]

In [41]:
rating_matrix = rating.pivot_table('rating', index = 'userid', columns = 'courseid')
rating_matrix = data_matrix.pivot_table('rating', index = 'userid', columns = 'course')

In [42]:
P, Q = matrix_factorization(rating_matrix.values, 50, 200, 0.01, 0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  7.81819849360074
### iteration step :  10  rmse :  0.8416998318075539
### iteration step :  20  rmse :  0.41254228991819186
### iteration step :  30  rmse :  0.18929853418602668
### iteration step :  40  rmse :  0.09530359507211134
### iteration step :  50  rmse :  0.06411435821480614
### iteration step :  60  rmse :  0.0513655133351369
### iteration step :  70  rmse :  0.045353587569104015
### iteration step :  80  rmse :  0.04211834005578717
### iteration step :  90  rmse :  0.040102228861186175
### iteration step :  100  rmse :  0.03866765487948536
### iteration step :  110  rmse :  0.037540499914071296
### iteration step :  120  rmse :  0.0365947058929847
### iteration step :  130  rmse :  0.03576753856130791
### iteration step :  140  rmse :  0.03502506546496307
### iteration step :  150  rmse :  0.03434737169276892
### iteration step :  160  rmse :  0.033721848888093785
### iteration step :  170  rmse :  0.033139957246185674
### iteration step :  180  rmse :  0.032595566797136814
### iteration step :  190  rmse :  0.03208405834110988

In [43]:
rating_pred_matrix = pd.DataFrame(data = pred_matrix, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,6.681529,8.212247,7.057926,7.962837,5.923445,4.676248,5.964486,6.967330,3.646334,5.196801,...,6.923922,7.676895,6.863511,7.457613,6.167849,7.495801,6.871055,5.290982,6.859333,6.067121
2,5.797357,7.145189,6.616658,5.981213,5.038894,3.779565,5.148480,5.152994,3.979891,4.461451,...,5.769611,6.454282,5.708518,6.365840,5.181822,6.432988,5.874479,4.533564,5.812417,5.104856
3,8.961405,8.985618,8.025631,7.096762,7.965535,5.974215,7.965987,6.161362,3.855261,6.970276,...,8.972528,9.969290,8.971976,8.109070,7.974942,8.145047,8.971850,6.977971,8.971979,7.974944
4,7.188304,8.793902,8.961811,6.714231,6.398520,4.721259,6.290350,5.866559,3.940979,5.527960,...,7.144130,7.999293,7.114077,7.820627,6.394380,7.849063,7.264650,5.611876,7.129826,6.352412
5,6.653198,9.952941,7.291137,6.414852,5.992849,4.534404,5.983993,5.630319,3.602687,5.205176,...,6.812065,7.512350,6.710606,8.968465,6.012656,8.968004,6.794302,5.262129,6.672610,5.992186
6,4.700379,6.272835,6.318221,5.188530,4.127967,3.127929,4.146657,4.518842,3.217162,3.608754,...,4.697813,5.317787,4.660551,5.595571,4.241574,5.592540,4.839795,3.781792,4.660297,4.157781
7,6.515116,8.226841,7.290093,6.514951,5.848971,4.390981,5.823852,5.698686,3.652940,5.090107,...,6.614166,7.433929,6.555034,7.423427,5.916722,7.469910,6.703227,5.228149,6.577530,5.894785
8,3.284099,4.462349,4.787877,4.283566,3.027432,2.192355,2.885109,3.714099,2.297794,2.624998,...,3.432695,3.843335,3.291731,4.068573,2.995028,4.096905,3.512441,2.699064,3.423879,3.017360

In [44]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [45]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [46]:
un_list = get_unseen_course(rating_matrix, 8) #id 8이 다녀오지 않은 코스 추출

In [47]:
matrix_recomm_course = recomm_course_by_userid(rating_pred_matrix, 8, un_list, 30) #최근접 이웃 협엄 필터링으로 30개 코스 추천

In [48]:
matrix_recomm_course = pd.DataFrame(data = matrix_recomm_course.values, index = matrix_recomm_course.index, columns = ['pred_score'])
matrix_recomm_course

                                                    pred_score
course
제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름               6.258082
여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장                       6.153063
군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,군...    6.051069
양양쏠비치                                                 5.916878
제주애월백번가든,협재해수욕장,애월더선셋,김녕미로공원,만장굴,코코마마                 5.726323
파주마장호수,천마루한식부페                                        5.606416
순천만자연생태공원,순천전망대,만성리검은모래해수욕장,청정게장촌                     5.525233
광주양림동펭귄마을,바람개비식당,청춘발산마을,카페표류,에프터웍스                    5.510449
통영통제영,동피랑벽화마을,통영중앙시장,서피랑,통영시립박물관,해저터널,유어스카페,남망조각공원    5.461854
안면도카페바다,대양횟집                                          5.461773
인천청라호수공원,달빛거리송현야시장,또봉이통닭                              5.452685
순천만국가정원,순천만습지,정문식당,동강막창                               5.447821
제주원앤온리카페,산방산,사계생활,뷰스트,송악산둘레길,잇뽕사계                     5.430457
군산한일옥,마이페이보릿카페,마리서사,초원사진관,군산과자조합카페,만남스넥,옛군산세관         5.420346
담양진미국수,죽녹원,관방제림,추성경기장,메타세콰이어길,서플라이카페,승일식당갈비           5.416354
서울청계천,밤도깨비야시장,경복궁,남산타워,DDP                            5.415134
동궁과월지(안압지),첨성대,교촌마을,월정교                               5.412981
동명정류장카페,바다를본돼지                                        5.409899
태안안면도레포츠월드,꽃지해수욕장                                     5.394377
제주도황우지해안,춘심이네,가배카페                                    5.390825
광주송정역시장,아우어파스타,무등커피,아시아문화전당                           5.371995
유진게찜,엘꼬시네로(스페인음식)                                     5.360775
양평두물머리,나인블럭,테레로사,대복식당불고기가게                            5.355733
임실김용택시인문학관,영화아름다운시절촬영지,강변사리마을캠핑장,임실치즈테마파크             5.349115
강릉허균허난설헌기념관,강문해변                                      5.345880
몽상드애월카페,아기해녀의집                                        5.337718
제주도착한전복                                               5.328589
경주민속공예촌,동궁원,경주산림환경연구원,통일전,황룡사역사문화관                    5.325434
군산선유도,초원사진관,국제반점,이성당,군산근대역사박물관,새만금방조제                 5.322974
목포수가정해물순두부,연희네슈퍼,코롬방제과,주일굴보쌈,홈보이                      5.321754

# Content_based recommendation

In [49]:
course_df = data.drop(['userid', 'rating'], axis = 1)
course_df.head()

,courseid,course,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,경기도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,"유진게찜,엘꼬시네로(스페인음식)",1,0,0,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,2,"동명정류장카페,바다를본돼지",0,0,0,0,0,0,1,0,...,0,0,1,0,1.0,0,1,1,1,1
2,3,"몽상드애월카페,아기해녀의집",0,0,0,0,0,0,1,0,...,0,0,1,0,1.0,0,1,1,1,1
3,4,대전운주계곡,0,0,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,"양양쏠비치송이(한식),호텔내미술관",1,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [50]:
user_df = user[['course','rating']]
user_df

                                 course  rating
0                  서울북악스카이웨이,아델라베일리,팔각정     0.5
1              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
2    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
3                          강릉초당순두부,삼양목장     3.0
4                        부안내소사,변산반도,채석강     5.0
5  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
6    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국     8.0
7           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0

In [51]:
inputId = course_df[course_df['course'].isin(user_df['course'].tolist())]
result = pd.merge(inputId, user_df)
result

,courseid,course,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,경기도,...,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울,rating
0,223,"서울북악스카이웨이,아델라베일리,팔각정",0,0,0,0,0,0,0,0,...,1,1,0,0.0,0,1,1,1,1,0.5
1,223,"서울북악스카이웨이,아델라베일리,팔각정",0,0,0,0,0,0,0,0,...,1,1,0,0.0,0,1,1,1,1,0.5
2,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,1.0
3,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,1.0
4,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,1.0
5,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,1.0
6,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,1.0
7,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,1.0
8,332,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1,0,1.0,0,1,1,1,1,2.0
9,332,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1,0,1.0,0,1,1,1,1,2.0
10,332,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1,0,1.0,0,1,1,1,1,2.0
11,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,3.0
12,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,3.0
13,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,3.0
14,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,3.0
15,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,3.0
16,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,3.0
17,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,5.0
18,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,5.0
19,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,5.0
20,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,5.0
21,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,5.0
22,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,5.0
23,357,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,0,1.0,0,1,1,1,1,7.0
24,361,"속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,8.0
25,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,10.0
26,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,10.0
27,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,10.0
28,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,10.0
29,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,10.0
30,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,10.0

In [52]:
result_df = result[['courseid', 'course', 'rating']]
result_df

    courseid                                course  rating
0        223                  서울북악스카이웨이,아델라베일리,팔각정     0.5
1        223                  서울북악스카이웨이,아델라베일리,팔각정     0.5
2        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
3        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
4        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
5        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
6        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
7        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑     1.0
8        332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
9        332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
10       332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피     2.0
11       353                          강릉초당순두부,삼양목장     3.0
12       353                          강릉초당순두부,삼양목장     3.0
13       353                          강릉초당순두부,삼양목장     3.0
14       353                          강릉초당순두부,삼양목장     3.0
15       353                          강릉초당순두부,삼양목장     3.0
16       353                          강릉초당순두부,삼양목장     3.0
17       355                        부안내소사,변산반도,채석강     5.0
18       355                        부안내소사,변산반도,채석강     5.0
19       355                        부안내소사,변산반도,채석강     5.0
20       355                        부안내소사,변산반도,채석강     5.0
21       355                        부안내소사,변산반도,채석강     5.0
22       355                        부안내소사,변산반도,채석강     5.0
23       357  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점     7.0
24       361    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국     8.0
25       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
26       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
27       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
28       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
29       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0
30       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스    10.0

In [53]:
result_detail = result[['특색', '물', '나무', '유적지', '맛집여행', '호캉스', '감성카페', '애견동반ㅇ', '봄', '여름', '가을', '겨울']]
result_detail

    특색  물  나무  유적지  맛집여행  호캉스  감성카페  애견동반ㅇ  봄  여름  가을  겨울
0    1  0   1    1     1    0   0.0      0  1   1   1   1
1    1  0   1    1     1    0   0.0      0  1   1   1   1
2    0  1   1    0     1    1   0.0      0  1   1   1   1
3    0  1   1    0     1    1   0.0      0  1   1   1   1
4    0  1   1    0     1    1   0.0      0  1   1   1   1
5    0  1   1    0     1    1   0.0      0  1   1   1   1
6    0  1   1    0     1    1   0.0      0  1   1   1   1
7    0  1   1    0     1    1   0.0      0  1   1   1   1
8    0  1   0    0     1    0   1.0      0  1   1   1   1
9    0  1   0    0     1    0   1.0      0  1   1   1   1
10   0  1   0    0     1    0   1.0      0  1   1   1   1
11   0  0   1    0     1    0   0.0      0  1   1   1   1
12   0  0   1    0     1    0   0.0      0  1   1   1   1
13   0  0   1    0     1    0   0.0      0  1   1   1   1
14   0  0   1    0     1    0   0.0      0  1   1   1   1
15   0  0   1    0     1    0   0.0      0  1   1   1   1
16   0  0   1    0     1    0   0.0      0  1   1   1   1
17   0  0   1    1     0    0   0.0      0  0   0   1   0
18   0  0   1    1     0    0   0.0      0  0   0   1   0
19   0  0   1    1     0    0   0.0      0  0   0   1   0
20   0  0   1    1     0    0   0.0      0  0   0   1   0
21   0  0   1    1     0    0   0.0      0  0   0   1   0
22   0  0   1    1     0    0   0.0      0  0   0   1   0
23   0  1   1    1     1    0   1.0      0  1   1   1   1
24   0  0   0    0     1    0   0.0      0  1   1   1   1
25   0  0   1    1     1    0   1.0      0  1   1   1   1
26   0  0   1    1     1    0   1.0      0  1   1   1   1
27   0  0   1    1     1    0   1.0      0  1   1   1   1
28   0  0   1    1     1    0   1.0      0  1   1   1   1
29   0  0   1    1     1    0   1.0      0  1   1   1   1
30   0  0   1    1     1    0   1.0      0  1   1   1   1

In [54]:
userProfile = result_detail.transpose().dot(result_df['rating'])
userProfile

특색         1.0
물         19.0
나무       122.0
유적지       98.0
맛집여행     106.0
호캉스        6.0
감성카페      73.0
애견동반ㅇ      0.0
봄        106.0
여름       106.0
가을       136.0
겨울       106.0
dtype: float64

In [55]:
courseTable = course_df.set_index(course_df['courseid'])
courseTable = courseTable[['특색', '물', '나무', '유적지', '맛집여행', '호캉스', '감성카페', '애견동반ㅇ', '봄', '여름', '가을', '겨울']]
courseTable.head()

          특색  물  나무  유적지  맛집여행  호캉스  감성카페  애견동반ㅇ  봄  여름  가을  겨울
courseid
1          0  1   0    0     1    0   0.0      0  1   1   1   1
2          0  1   0    0     1    0   1.0      0  1   1   1   1
3          0  1   0    0     1    0   1.0      0  1   1   1   1
4          0  0   1    0     0    0   0.0      0  1   1   1   1
5          0  1   0    0     0    0   0.0      0  1   1   1   1

In [56]:
recoTable_df = ((courseTable * userProfile).sum(axis = 1)) / (userProfile.sum())
recoTable_df.head()

courseid
1    0.658703
2    0.741752
3    0.741752
4    0.655290
5    0.538111
dtype: float64

In [57]:
recoTable_df = recoTable_df.sort_values(ascending = False) # 내림차순
recoTable_df

courseid
271    0.993174
357    0.992036
350    0.992036
376    0.992036
376    0.992036
         ...
367    0.401593
360    0.395904
193    0.379977
235    0.259386
240    0.259386
Length: 603, dtype: float64

In [58]:
rank = course_df.loc[course_df['courseid'].isin(recoTable_df.head(20).keys())]
rank

,courseid,course,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,경기도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
204,192,"강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
214,202,"제주새우리김밥,평대앓이,보롬왓,협재해수욕장",0,0,0,0,0,0,1,0,...,1,1,1,0,1.0,0,1,1,1,1
284,271,"여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당",0,0,0,0,1,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
384,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
385,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
386,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
390,346,"군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
397,350,"강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
419,357,"강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
420,357,"강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
421,357,"강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
422,357,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
423,357,"강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
424,357,"강릉경포해변,초당115,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
483,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페196,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
484,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페197,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
485,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페198,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
486,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
487,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
488,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페201,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1

In [59]:
rankId = data[data['course'].isin(rank['course'].tolist())]
final = pd.merge(rankId, rank)
final

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,3,192,"강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진",9,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
1,1,202,"제주새우리김밥,평대앓이,보롬왓,협재해수욕장",7,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
2,4,271,"여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당",9,0,0,0,0,1,0,...,1,1,1,0,1.0,0,1,1,1,1
3,7,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
4,7,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
5,7,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
6,1,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
7,1,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
8,1,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
9,2,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
10,2,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
11,2,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
12,7,346,"군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...",7,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
13,3,350,"강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106",8,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
14,1,357,"강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
15,2,357,"강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점",4,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
16,3,357,"강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
17,4,357,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",4,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
18,5,357,"강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
19,7,357,"강릉경포해변,초당115,허균허난설헌기념공원,경포호,원조강릉교동반점",5,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
20,1,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페196,경일철도마을,선유도해수욕장...",7,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
21,2,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페197,경일철도마을,선유도해수욕장...",6,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
22,3,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페198,경일철도마을,선유도해수욕장...",8,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
23,4,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...",10,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
24,5,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장...",6,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
25,7,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페201,경일철도마을,선유도해수욕장...",5,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1

In [60]:
fi_result = final[['courseid', 'course', 'rating']].sort_values('rating', ascending = False) #rating순대로 배열

In [61]:
fi_result = fi_result.drop_duplicates('courseid', keep='first') #중복 제거
fi_result

    courseid                                             course  rating
23       376  군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...      10
0        192              강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진       9
2        271                    여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당       9
9        342               단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길       8
13       350             강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106       8
18       357               강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점       7
12       346  군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...       7
1        202                            제주새우리김밥,평대앓이,보롬왓,협재해수욕장       7

In [62]:
fi_result.to_csv("content_based.csv")

# item_based & matrix_factorization duplication

In [63]:
recomm_course.to_csv("item_based.csv")

In [64]:
matrix_recomm_course.to_csv("matrix_factorization.csv")

In [65]:
item_based = pd.read_csv('item_based.csv', encoding = 'utf-8')
item_based.head()

                                          course  pred_score
0           강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점    2.212211
1             속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국    0.950167
2             제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피    0.767049
3                                          양양쏠비치    0.268556
4  천안묵향기,천안삼거리공원,신부동카페어젠,아라리오갤러리,쌍용동족발야시장,학화호도과자    0.223642

In [66]:
matrix_factorization = pd.read_csv('matrix_factorization.csv', encoding = 'utf-8')
matrix_factorization.head()

                                              course  pred_score
0            제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름    6.258082
1                    여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장    6.153063
2  군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,...    6.051069
3                                              양양쏠비치    5.916878
4              제주애월백번가든,협재해수욕장,애월더선셋,김녕미로공원,만장굴,코코마마    5.726323

In [67]:
dupli = item_based[item_based['course'].isin(matrix_factorization['course'].tolist())]
dupli

            course  pred_score
3            양양쏠비치    0.268556
25  몽상드애월카페,아기해녀의집    0.000000
29  동명정류장카페,바다를본돼지    0.000000