In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

# 데이터 가공 및 변환

In [2]:
data = pd.read_csv('data_fin_.csv',encoding = 'cp949')
data.head()

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,1,"유진게찜,엘꼬시네로(스페인음식)",10,1,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,1,2,"동명정류장카페,바다를본돼지",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
2,1,3,"몽상드애월카페,아기해녀의집",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
3,1,4,대전운주계곡,8,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,5,"양양쏠비치송이(한식),호텔내미술관",10,1,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [3]:
user = pd.read_csv('user_data.csv',encoding = 'cp949')
user_rating = [4,3,5,6,7,4,6,6] #user이 선호도 조사를 통해서 준 점수 ->받으면됨
user['rating'] = user_rating
user

   userid  courseid                                course  rating
0       8       223                  서울북악스카이웨이,아델라베일리,팔각정       4
1       8       322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
2       8       332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       5
3       8       353                          강릉초당순두부,삼양목장       6
4       8       355                        부안내소사,변산반도,채석강       7
5       8       357  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점       4
6       8       361    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국       6
7       8       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6

In [4]:
data.shape

(512, 31)

In [5]:
new = data[['userid','courseid','rating']]
user_new = user[['userid','courseid','rating']]
new = new.append(user_new)

In [6]:
data_matrix = new.pivot_table('rating', index = 'userid', columns = 'courseid')
data_matrix.head()

courseid,1,2,3,4,5,6,7,8,9,10,...,375,376,377,378,379,380,381,382,383,384
userid,,,,,,,,,,,,,,,,,,,,,
1,10.0,10.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,7.0,6.0,NaN,NaN,NaN,NaN,8.0,4.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,4.0,NaN,NaN,NaN,NaN,5.0,7.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,5.0,NaN,NaN,NaN,NaN,7.0,3.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,NaN,3.0,NaN,NaN,NaN,NaN,7.0,8.0
5,NaN,NaN,NaN,NaN,10.0,10.0,10.0,9.0,9.0,10.0,...,NaN,6.0,NaN,8.0,7.0,6.0,7.0,NaN,6.0,6.0

In [7]:
data_matrix = data[['userid','course','rating']]
user_matrix = user[['userid','course','rating']]
data_matrix = data_matrix.append(user_matrix)

In [8]:
rating_matrix = data_matrix.pivot_table('rating', index = 'userid', columns = 'course')
rating_matrix = rating_matrix.fillna(0)
rating_matrix

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,8.0,0.0,0.0,0.0,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,0.0,0.0,0.0,8.0,6.0,8.0,0.0,0.0,7.0,...,9.0,10.0,9.0,0.0,8.0,0.0,9.0,7.0,9.0,8.0
4,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 여행 코스 간 유사도 산출(영화 간의 유사도만을 가지고 추천)

In [9]:
rating_matrix_T = rating_matrix.transpose()
rating_matrix_T.head()

userid                      1    2    3    4     5    6    7    8
course
DDP,광장시장                  0.0  0.0  9.0  0.0   0.0  0.0  0.0  0.0
가평선어치고개집                  0.0  0.0  0.0  0.0  10.0  0.0  0.0  0.0
가평스위스테마파크,달과6펜스,금강산숯불닭갈비  0.0  0.0  0.0  9.0   0.0  0.0  0.0  0.0
가평아침고요수목원,남이섬,제이드가든       8.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0
강릉강문해변,대관령순수양떼목장          0.0  0.0  8.0  0.0   0.0  0.0  0.0  0.0

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
item_sim = cosine_similarity(rating_matrix_T, rating_matrix_T)
item_sim_df = pd.DataFrame(data = item_sim, index = rating_matrix.columns, columns = rating_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(401, 401)

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
course,,,,,,,,,,,,,,,,,,,,,
"DDP,광장시장",1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
가평선어치고개집,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
"가평스위스테마파크,달과6펜스,금강산숯불닭갈비",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
item_sim_df["해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드"].sort_values(ascending = False)[:10]

course
군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장,째보식당,천하장사곱창,이성당    1.0
안성금광호수공원,까페호미                                                     1.0
군산근대역사박물관,새만금,선유도                                                 1.0
제주녹산로,검멀레해변,우도서빈백사                                                1.0
군산구이나라,이성당,진포해양테마공원,군산근대건축관                                       1.0
양평두물머리연핫도그,오르다온                                                   1.0
양양휴휴암,속초삼해횟집,이바이마을,갯배,중앙마을                                        1.0
양양파마씨,파마씨펍                                                        1.0
양양쏠비치송이(한식),호텔내미술관                                                1.0
제주사려니숲길,마방목지,산굼부리,제주올레시장                                          1.0
Name: 해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드, dtype: float64

# 아이템 기반 최근접 이웃 협업 필터링으로 추천

In [13]:
def predict_rating(rating_arr, item_sim_arr):
    rating_pred = rating_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis = 1)])
    return rating_pred

In [14]:
rating_pred = predict_rating(rating_matrix.values, item_sim_df.values)
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix.head()

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.365499,0.715445,0.754888,7.903512,0.365499,0.365499,0.365499,7.903512,2.317991,0.365499,...,0.365499,0.365499,0.365499,0.715445,0.365499,0.715445,0.365499,0.365499,0.365499,0.365499
2,0.265380,0.523990,0.595252,1.260788,0.265380,0.265380,0.265380,1.260788,7.410784,0.265380,...,0.265380,0.265380,0.265380,0.523990,0.265380,0.523990,0.265380,0.265380,0.265380,0.265380
3,8.421840,0.808626,0.845026,1.134132,8.421840,8.421840,8.421840,1.134132,1.513964,8.421840,...,8.421840,8.421840,8.421840,0.808626,8.421840,0.808626,8.421840,8.421840,8.421840,8.421840
4,0.368810,0.822459,8.338867,1.022332,0.368810,0.368810,0.368810,1.022332,1.482109,0.368810,...,0.368810,0.368810,0.368810,0.822459,0.368810,0.822459,0.368810,0.368810,0.368810,0.368810
5,0.327807,7.917253,0.763927,0.899961,0.327807,0.327807,0.327807,0.899961,1.211826,0.327807,...,0.327807,0.327807,0.327807,7.917253,0.327807,7.917253,0.327807,0.327807,0.327807,0.327807

##  <span style="color:blue">MSE : 딥러닝 손실 함수</span>

### : <span style="color:blue">손실함수는 정답에 대한 오류를 숫자로 나타내는 것으로 오답에 가까울수록 큰 값이 나옴</span>

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
def get_mse(pred, actual): #사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 구하기
    pred = pred[actual.nonzero()].flatten() #평점이 있는 실제 영화만 추출
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [17]:
print('아이템 기반 모든 최근접 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  8.251348181922133

In [18]:
def predict_rating_topsim(rating_arr, item_sim_arr, n = 20):
    pred = np.zeros(rating_arr.shape) #예측 행렬 초기화
    
    for col in range(rating_arr.shape[1]): #사용자-아이템 평점 행렬 열 크기만큼 루프 수행
        top_n_items = [np.argsort(item_sim_arr[:, col])[: -n-1 : -1]] #유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬 인덱스 반환
        for row in range(rating_arr.shape[0]): #개인화된 예측 평점 계산
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(rating_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    return pred

In [19]:
rating_pred = predict_rating_topsim(rating_matrix.values, item_sim_df.values, n = 20)
print('어아탬 기반 최근접 TOP-20 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

어아탬 기반 최근접 TOP-20 이웃 MSE :  3.2562431905933504

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

In [20]:
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)

In [21]:
user_rating_id = rating_matrix.loc[8, :] #user = 7인 사용자에 대해 영화 추천
user_rating_id[ user_rating_id > 0 ].sort_values(ascending = False)[:10]

course
부안내소사,변산반도,채석강                          7.0
순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스             6.0
속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국      6.0
강릉초당순두부,삼양목장                            6.0
제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피      5.0
서울북악스카이웨이,아델라베일리,팔각정                    4.0
강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점    4.0
제주히든클리프호텔,올데이다이닝파노라마레스토랑                3.0
Name: 8, dtype: float64

In [22]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [23]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [24]:
un_list = get_unseen_course(rating_matrix, 7) #id 7이 다녀오지 않은 코스 추출

In [25]:
recomm_course = recomm_course_by_userid(rating_pred_matrix, 8, un_list, 30) #최근접 이웃 협엄 필터링으로 30개 코스 추천

In [26]:
recomm_course = pd.DataFrame(data = recomm_course.values, index = recomm_course.index, columns = ['pred_score'])
recomm_course

                                        pred_score
course
제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피        2.079026
양양쏠비치                                     1.128112
강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점      0.937442
서울신라호텔,더파크뷰,어반아일랜드                        0.771065
잠실롯데시그니엘호텔,롯데월드                           0.762708
양양쏠비치아쿠아월드,후진항,속초관광수산시장                   0.647044
속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국        0.585129
서울북악스카이웨이,아델라베일리,팔각정                      0.263822
제주도유동커피,올레길,모카다방                          0.255682
제주도으뜨미,용눈이오름,비자림길,비자블라썸카페,토키썸카페,월정리       0.146912
목포노적봉,유달산공원,근대역사관,본전회수산,평화광장바다분수          0.000000
목포영산강,옥암수변공원                              0.000000
목포김대중노벨평화상기념관,목포어린이바다과학관,목포자연사박물관         0.000000
목포김가네해물한정식,근대역사관                          0.000000
목포바다분수,목포대교,평화광장                          0.000000
목포연희네슈퍼,서산동시화골목길,갓바위,목포근대역사본관,오포대,유달유업    0.000000
목포근대역사관,노적봉,김대중노벨평화상기념관                   0.000000
목포끝집포차,밤바다포차,목포근대역사관,유달산                  0.000000
홍성남당항,홍성군조류탐사과학관,그림이있는정원                  0.000000
목포코롬방제과,고래회수산                             0.000000
동해묵호등대,등대가페,묵호등대출렁다리                      0.000000
목포해상케이블카북항승강장,독천식당,목포근대역사문화관              0.000000
몽상드애월카페,아기해녀의집                            0.000000
보령대오천항,오천성,대천항수산시장,대천해수욕장                 0.000000
보령대한국정원,희랑                                0.000000
부산감천문화마을,부평깡통야시장                          0.000000
부산광안리,알로이삥삥,수변공원                          0.000000
부산광안리,홍미당,동백섬,해운대,오감쌀롱                    0.000000
동해묵호야시장,행복상회,논골담길,논골카페                    0.000000
동궁과월지(안압지),첨성대,교촌마을,월정교                   0.000000

# 행렬 분해를 이용한 잠재 요인 협업 필터링 추천

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
def get_rmse(R, P, Q, non_zeros): #실제 R 행렬과 예측 행렬의 오차 구하기
    error = 0
    full_pred_matrix = np.dot(P, Q.T) #두 개의 분해된 행렬 P와 Q.T의 내적으로 예측 R 행렬 생성(np.dot함수는 내적 함수)
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    return rmse

In [29]:
def matrix_factorization(R, K, steps, learning_rate, r_lambda):
    #R : 원본 사용자-아이템 평점 행렬
    #K : 잠재요인의 차원 수
    #step : SGD의 반복 횟수
    num_users, num_items = R.shape
    np.random.seed(1)
    P = np.random.normal(scale = 1./K, size = (num_users, K))
    Q = np.random.normal(scale = 1./K, size = (num_items, K))
    
    prev_rmse = 10000
    break_count = 0
    
    non_zeros = [ (i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]
     
    for step in range(steps):
        for i, j, r in non_zeros:
            eij = r - np.dot(P[i, :], Q[j, :].T)
            P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
            Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
        rmse = get_rmse(R, P, Q, non_zeros)
        if(step % 10) == 0:
            print("### iteration step : ",step, " rmse : ", rmse)
    return P,Q

In [30]:
rating = new[['userid', 'courseid', 'rating']]
rating

    userid  courseid  rating
0        1         1      10
1        1         2      10
2        1         3      10
3        1         4       8
4        5         5      10
..     ...       ...     ...
3        8       353       6
4        8       355       7
5        8       357       4
6        8       361       6
7        8       368       6

[520 rows x 3 columns]

In [31]:
rating_matrix = rating.pivot_table('rating', index = 'userid', columns = 'courseid')
rating_matrix = data_matrix.pivot_table('rating', index = 'userid', columns = 'course')

In [32]:
P, Q = matrix_factorization(rating_matrix.values, 50, 200, 0.01, 0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step :  0  rmse :  7.98372392128422
### iteration step :  10  rmse :  0.7543774889694514
### iteration step :  20  rmse :  0.35670298805979195
### iteration step :  30  rmse :  0.18897809744628027
### iteration step :  40  rmse :  0.12137280107984179
### iteration step :  50  rmse :  0.0874946638380706
### iteration step :  60  rmse :  0.06770000605329883
### iteration step :  70  rmse :  0.05546953579726363
### iteration step :  80  rmse :  0.04768236618373976
### iteration step :  90  rmse :  0.04262607159696411
### iteration step :  100  rmse :  0.039294757325803994
### iteration step :  110  rmse :  0.03705237910222784
### iteration step :  120  rmse :  0.03548663991040034
### iteration step :  130  rmse :  0.03433630622056313
### iteration step :  140  rmse :  0.033441683229131186
### iteration step :  150  rmse :  0.03270773603990141
### iteration step :  160  rmse :  0.032078523938772384
### iteration step :  170  rmse :  0.031520954114204996
### iteration step :  180  rmse :  0.031015084462893635
### iteration step :  190  rmse :  0.030548543901771644

In [33]:
rating_pred_matrix = pd.DataFrame(data = pred_matrix, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점","강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,6.363332,7.428234,6.531066,7.965638,5.603283,4.408477,5.596078,6.969902,3.555014,4.907305,...,6.431733,7.047348,6.428238,6.817292,5.773314,6.734986,6.408917,4.975035,6.423305,5.675993
2,5.022238,6.119619,6.175344,5.653300,4.416131,3.315880,4.309350,4.961540,3.981996,3.789152,...,4.857972,5.613171,4.997258,5.600054,4.452761,5.494264,4.963262,3.866881,4.908999,4.339113
3,8.962793,8.862756,7.861653,6.505412,7.966893,5.975251,7.967391,5.645941,3.531864,6.971582,...,8.973368,9.970337,8.972990,7.952228,7.975943,8.055302,8.973026,6.978956,8.973271,7.976169
4,7.031030,8.370972,8.964008,5.965582,6.096356,4.631393,6.187379,5.170737,3.790713,5.353355,...,6.967231,7.720224,7.038199,7.578738,6.193715,7.474498,6.887058,5.470025,6.809353,6.154040
5,6.837412,9.956334,7.287927,5.710696,6.097139,4.495471,6.020772,5.074747,3.199155,5.270763,...,6.870585,7.462705,6.885641,8.971089,6.000120,8.970682,6.701038,5.352701,6.746273,5.935505
6,4.042504,5.365942,5.732782,4.574251,3.401239,2.705308,3.515497,3.964246,2.903176,2.980892,...,3.964168,4.408450,4.031004,4.941113,3.506056,4.687404,3.995417,3.138048,3.903188,3.481814
7,6.416060,8.098696,7.391217,6.166057,5.601148,4.330875,5.744886,5.408256,3.661121,4.971612,...,6.438837,7.097191,6.468561,7.464271,5.712292,7.260160,6.453934,5.074928,6.372110,5.691528
8,4.115927,5.235801,5.770883,3.814135,3.542727,2.648018,3.559978,3.303698,2.675946,3.119909,...,4.020838,4.524403,4.098660,4.828277,3.597706,4.681404,4.002803,3.174061,3.903721,3.592264

In [34]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [35]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [36]:
un_list = get_unseen_course(rating_matrix, 8) #id 8이 다녀오지 않은 코스 추출

In [37]:
matrix_recomm_course = recomm_course_by_userid(rating_pred_matrix, 8, un_list, 30) #최근접 이웃 협엄 필터링으로 30개 코스 추천

In [38]:
matrix_recomm_course = pd.DataFrame(data = matrix_recomm_course.values, index = matrix_recomm_course.index, columns = ['pred_score'])
matrix_recomm_course

                                                    pred_score
course
양양쏠비치                                                 7.003994
여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장                       6.645556
제주애월백번가든,협재해수욕장,애월더선셋,김녕미로공원,만장굴,코코마마                 6.638982
군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,군...    6.588334
제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름               6.464440
태안안면도레포츠월드,꽃지해수욕장                                     6.455159
임실김용택시인문학관,영화아름다운시절촬영지,강변사리마을캠핑장,임실치즈테마파크             6.451055
부산깡깡이예술마을,부산자갈치시장,송도해상케이블카송도스카이파크,부평깡통시장,태종대관광유람선     6.442460
양평두물머리,나인블럭,테레로사,대복식당불고기가게                            6.439103
군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장,...    6.435788
경주민속공예촌,동궁원,경주산림환경연구원,통일전,황룡사역사문화관                    6.428772
동궁과월지(안압지),첨성대,교촌마을,월정교                               6.422306
제주도황우지해안,춘심이네,가배카페                                    6.419780
군산선유도,초원사진관,국제반점,이성당,군산근대역사박물관,새만금방조제                 6.418995
경주태종무열왕릉,대릉원(천마총),분황사,석굴암,불국사                         6.412935
제주숨비정원,안돌오름                                           6.408975
태안안면도수목원                                              6.405185
강릉허균허난설헌기념관,강문해변                                      6.404955
광명동굴,삼백돈돈가츠                                           6.398225
안면도카페바다,대양횟집                                          6.393825
제주도착한전복                                               6.386543
파주마장호수,천마루한식부페                                        6.376927
강릉하슬라아트월드                                             6.373255
속초대포항튀김골목,씨씨카페                                        6.370708
강릉소돌아들바위공원,주문진항,도깨비촬영지,보헤미안박이추커피,사천포구,강릉커피콩빵,강릉...    6.365506
순천흥덕식당,순천만습지,순천만국가정원,순천아랫장야시장                         6.332960
경주골굴사,경주전통명주전시관,감은사지,양남주상절리,문무대왕릉,한수원홍보관              6.181123
의성금성산고분군,경덕왕릉,의성마을한우거리,의성전통시장,고운사                     6.147812
제주협재버거,마라도,남매네흑돼지                                     6.043105
의성삼미마늘닭,사촌가루숲,의성의병기념관,제격문,빙계계곡,빙혈,빙산사지오층석탑,빙계사원       6.034180

# Content_based recommendation

In [44]:
course_df = data.drop(['userid', 'rating'], axis = 1)
course_df.head()

,courseid,course,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,경기도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,"유진게찜,엘꼬시네로(스페인음식)",1,0,0,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,2,"동명정류장카페,바다를본돼지",0,0,0,0,0,0,1,0,...,0,0,1,0,1.0,0,1,1,1,1
2,3,"몽상드애월카페,아기해녀의집",0,0,0,0,0,0,1,0,...,0,0,1,0,1.0,0,1,1,1,1
3,4,대전운주계곡,0,0,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,"양양쏠비치송이(한식),호텔내미술관",1,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [45]:
user_df = user[['course','rating']]
user_df

                                 course  rating
0                  서울북악스카이웨이,아델라베일리,팔각정       4
1              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
2    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       5
3                          강릉초당순두부,삼양목장       6
4                        부안내소사,변산반도,채석강       7
5  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점       4
6    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국       6
7           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6

In [46]:
inputId = course_df[course_df['course'].isin(user_df['course'].tolist())]
result = pd.merge(inputId, user_df)
result

,courseid,course,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,경기도,...,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울,rating
0,223,"서울북악스카이웨이,아델라베일리,팔각정",0,0,0,0,0,0,0,0,...,1,1,0,0.0,0,1,1,1,1,4
1,223,"서울북악스카이웨이,아델라베일리,팔각정",0,0,0,0,0,0,0,0,...,1,1,0,0.0,0,1,1,1,1,4
2,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,3
3,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,3
4,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,3
5,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,3
6,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,3
7,322,"제주히든클리프호텔,올데이다이닝파노라마레스토랑",0,0,0,0,0,0,1,0,...,0,1,1,0.0,0,1,1,1,1,3
8,332,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1,0,1.0,0,1,1,1,1,5
9,332,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1,0,1.0,0,1,1,1,1,5
10,332,"제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피",0,0,0,0,0,0,1,0,...,0,1,0,1.0,0,1,1,1,1,5
11,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
12,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
13,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
14,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
15,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
16,353,"강릉초당순두부,삼양목장",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
17,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,7
18,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,7
19,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,7
20,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,7
21,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,7
22,355,"부안내소사,변산반도,채석강",0,0,0,1,0,0,0,0,...,1,0,0,0.0,0,0,0,1,0,7
23,357,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,0,1.0,0,1,1,1,1,4
24,361,"속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국",1,0,0,0,0,0,0,0,...,0,1,0,0.0,0,1,1,1,1,6
25,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,6
26,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,6
27,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,6
28,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,6
29,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,6
30,368,"순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스",0,0,0,0,1,0,0,0,...,1,1,0,1.0,0,1,1,1,1,6

In [47]:
result_df = result[['courseid', 'course', 'rating']]
result_df

    courseid                                course  rating
0        223                  서울북악스카이웨이,아델라베일리,팔각정       4
1        223                  서울북악스카이웨이,아델라베일리,팔각정       4
2        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
3        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
4        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
5        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
6        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
7        322              제주히든클리프호텔,올데이다이닝파노라마레스토랑       3
8        332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       5
9        332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       5
10       332    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피       5
11       353                          강릉초당순두부,삼양목장       6
12       353                          강릉초당순두부,삼양목장       6
13       353                          강릉초당순두부,삼양목장       6
14       353                          강릉초당순두부,삼양목장       6
15       353                          강릉초당순두부,삼양목장       6
16       353                          강릉초당순두부,삼양목장       6
17       355                        부안내소사,변산반도,채석강       7
18       355                        부안내소사,변산반도,채석강       7
19       355                        부안내소사,변산반도,채석강       7
20       355                        부안내소사,변산반도,채석강       7
21       355                        부안내소사,변산반도,채석강       7
22       355                        부안내소사,변산반도,채석강       7
23       357  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점       4
24       361    속초단천식당,속초관광수산시장,91생선구이,만석닭강정,황태해장국       6
25       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6
26       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6
27       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6
28       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6
29       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6
30       368           순천흥덕식당,낙안읍성,드라마세트장,학운정,브루웍스       6

In [48]:
result_detail = result[['특색', '물', '나무', '유적지', '맛집여행', '호캉스', '감성카페', '애견동반ㅇ', '봄', '여름', '가을', '겨울']]
result_detail

    특색  물  나무  유적지  맛집여행  호캉스  감성카페  애견동반ㅇ  봄  여름  가을  겨울
0    1  0   1    1     1    0   0.0      0  1   1   1   1
1    1  0   1    1     1    0   0.0      0  1   1   1   1
2    0  1   1    0     1    1   0.0      0  1   1   1   1
3    0  1   1    0     1    1   0.0      0  1   1   1   1
4    0  1   1    0     1    1   0.0      0  1   1   1   1
5    0  1   1    0     1    1   0.0      0  1   1   1   1
6    0  1   1    0     1    1   0.0      0  1   1   1   1
7    0  1   1    0     1    1   0.0      0  1   1   1   1
8    0  1   0    0     1    0   1.0      0  1   1   1   1
9    0  1   0    0     1    0   1.0      0  1   1   1   1
10   0  1   0    0     1    0   1.0      0  1   1   1   1
11   0  0   1    0     1    0   0.0      0  1   1   1   1
12   0  0   1    0     1    0   0.0      0  1   1   1   1
13   0  0   1    0     1    0   0.0      0  1   1   1   1
14   0  0   1    0     1    0   0.0      0  1   1   1   1
15   0  0   1    0     1    0   0.0      0  1   1   1   1
16   0  0   1    0     1    0   0.0      0  1   1   1   1
17   0  0   1    1     0    0   0.0      0  0   0   1   0
18   0  0   1    1     0    0   0.0      0  0   0   1   0
19   0  0   1    1     0    0   0.0      0  0   0   1   0
20   0  0   1    1     0    0   0.0      0  0   0   1   0
21   0  0   1    1     0    0   0.0      0  0   0   1   0
22   0  0   1    1     0    0   0.0      0  0   0   1   0
23   0  1   1    1     1    0   1.0      0  1   1   1   1
24   0  0   0    0     1    0   0.0      0  1   1   1   1
25   0  0   1    1     1    0   1.0      0  1   1   1   1
26   0  0   1    1     1    0   1.0      0  1   1   1   1
27   0  0   1    1     1    0   1.0      0  1   1   1   1
28   0  0   1    1     1    0   1.0      0  1   1   1   1
29   0  0   1    1     1    0   1.0      0  1   1   1   1
30   0  0   1    1     1    0   1.0      0  1   1   1   1

In [50]:
userProfile = result_detail.transpose().dot(result_df['rating'])
userProfile

특색         8.0
물         37.0
나무       144.0
유적지       90.0
맛집여행     123.0
호캉스       18.0
감성카페      55.0
애견동반ㅇ      0.0
봄        123.0
여름       123.0
가을       165.0
겨울       123.0
dtype: float64

In [51]:
courseTable = course_df.set_index(course_df['courseid'])
courseTable = courseTable[['특색', '물', '나무', '유적지', '맛집여행', '호캉스', '감성카페', '애견동반ㅇ', '봄', '여름', '가을', '겨울']]
courseTable.head()

          특색  물  나무  유적지  맛집여행  호캉스  감성카페  애견동반ㅇ  봄  여름  가을  겨울
courseid
1          0  1   0    0     1    0   0.0      0  1   1   1   1
2          0  1   0    0     1    0   1.0      0  1   1   1   1
3          0  1   0    0     1    0   1.0      0  1   1   1   1
4          0  0   1    0     0    0   0.0      0  1   1   1   1
5          0  1   0    0     0    0   0.0      0  1   1   1   1

In [52]:
recoTable_df = ((courseTable * userProfile).sum(axis = 1)) / (userProfile.sum())
recoTable_df.head()

courseid
1    0.687810
2    0.742319
3    0.742319
4    0.671952
5    0.565907
dtype: float64

In [53]:
recoTable_df = recoTable_df.sort_values(ascending = False) # 내림차순
recoTable_df

courseid
271    0.982161
376    0.974232
192    0.974232
357    0.974232
357    0.974232
         ...
355    0.395441
355    0.395441
193    0.386521
240    0.264618
235    0.264618
Length: 512, dtype: float64

In [54]:
rank = course_df.loc[course_df['courseid'].isin(recoTable_df.head(20).keys())]
rank

,courseid,course,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,경기도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
204,192,"강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
214,202,"제주새우리김밥,평대앓이,보롬왓,협재해수욕장",0,0,0,0,0,0,1,0,...,1,1,1,0,1.0,0,1,1,1,1
284,271,"여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당",0,0,0,0,1,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
384,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
385,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
386,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",0,0,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
390,346,"군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
397,350,"강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
419,357,"강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
420,357,"강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
421,357,"강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
422,357,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
423,357,"강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
424,357,"강릉경포해변,초당115,허균허난설헌기념공원,경포호,원조강릉교동반점",1,0,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
483,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페196,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
484,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페197,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
485,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페198,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
486,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
487,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
488,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페201,경일철도마을,선유도해수욕장...",0,0,0,1,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1

In [55]:
rankId = data[data['course'].isin(rank['course'].tolist())]
final = pd.merge(rankId, rank)
final

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,3,192,"강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진",9,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
1,1,202,"제주새우리김밥,평대앓이,보롬왓,협재해수욕장",7,0,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
2,4,271,"여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당",9,0,0,0,0,1,0,...,1,1,1,0,1.0,0,1,1,1,1
3,7,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
4,7,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
5,7,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",2,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
6,1,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
7,1,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
8,1,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",3,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
9,2,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
10,2,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
11,2,342,"단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길",8,0,0,0,0,0,1,...,1,1,1,0,1.0,0,1,1,1,1
12,7,346,"군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...",7,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
13,3,350,"강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106",8,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
14,1,357,"강릉경포해변,초당110,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
15,2,357,"강릉경포해변,초당111,허균허난설헌기념공원,경포호,원조강릉교동반점",4,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
16,3,357,"강릉경포해변,초당112,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
17,4,357,"강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점",4,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
18,5,357,"강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점",7,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
19,7,357,"강릉경포해변,초당115,허균허난설헌기념공원,경포호,원조강릉교동반점",5,1,0,0,0,0,0,...,1,1,1,0,1.0,0,1,1,1,1
20,1,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페196,경일철도마을,선유도해수욕장...",7,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
21,2,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페197,경일철도마을,선유도해수욕장...",6,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
22,3,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페198,경일철도마을,선유도해수욕장...",8,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
23,4,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...",10,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
24,5,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페200,경일철도마을,선유도해수욕장...",6,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1
25,7,376,"군산은파호수공원,지린성,초원사진관,군산과자조합,카페201,경일철도마을,선유도해수욕장...",5,0,0,0,1,0,0,...,1,1,1,0,1.0,0,1,1,1,1

In [58]:
fi_result = final[['courseid', 'course', 'rating']].sort_values('rating', ascending = False) #rating순대로 배열

In [57]:
fi_result = fi_result.drop_duplicates('courseid', keep='first') #중복 제거
fi_result

    courseid                                             course  rating
23       376  군산은파호수공원,지린성,초원사진관,군산과자조합,카페199,경일철도마을,선유도해수욕장...      10
0        192              강릉폴앤메리,정동진,하슬라아트월드,동화가든,안목해변,보사노바,주문진       9
2        271                    여수돌산공원,여수케이블카,오동도,향일암,카페작금,여진식당       9
9        342               단양도담상봉,석문,다누리아쿠아리움,구경시장,만천하스카이워크,잔도길       8
13       350             강릉해미가,오죽헌,경포해변,테라로사사천점,초당등불생등심,cafe106       8
18       357               강릉경포해변,초당114,허균허난설헌기념공원,경포호,원조강릉교동반점       7
12       346  군산일제강점기역사박물관,올드브릭카페,근대역사박물관,근대건축박물관,해양공원,작은떡시루...       7
1        202                            제주새우리김밥,평대앓이,보롬왓,협재해수욕장       7

In [59]:
fi_result.to_csv("content_based.csv")

# item_based & matrix_factorization duplication

In [39]:
recomm_course.to_csv("item_based.csv")

In [40]:
matrix_recomm_course.to_csv("matrix_factorization.csv")

In [41]:
item_based = pd.read_csv('item_based.csv', encoding = 'utf-8')
item_based.head()

                                 course  pred_score
0    제주도성산일출봉,서귀포해월정,오르다카페,서귀포할매식당,유동커피    2.079026
1                                 양양쏠비치    1.128112
2  강릉경포해변,초당113,허균허난설헌기념공원,경포호,원조강릉교동반점    0.937442
3                    서울신라호텔,더파크뷰,어반아일랜드    0.771065
4                       잠실롯데시그니엘호텔,롯데월드    0.762708

In [42]:
matrix_factorization = pd.read_csv('matrix_factorization.csv', encoding = 'utf-8')
matrix_factorization.head()

                                              course  pred_score
0                                              양양쏠비치    7.003994
1                    여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장    6.645556
2              제주애월백번가든,협재해수욕장,애월더선셋,김녕미로공원,만장굴,코코마마    6.638982
3  군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,...    6.588334
4            제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름    6.464440

In [43]:
dupli = item_based[item_based['course'].isin(matrix_factorization['course'].tolist())]
dupli

                     course  pred_score
1                     양양쏠비치    1.128112
29  동궁과월지(안압지),첨성대,교촌마을,월정교    0.000000