In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np

# 데이터 가공 및 변환

In [3]:
data = pd.read_csv('data_fin_.csv',encoding = 'cp949')
data.head()

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,1,"유진게찜,엘꼬시네로(스페인음식)",10,1,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,1,2,"동명정류장카페,바다를본돼지",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
2,1,3,"몽상드애월카페,아기해녀의집",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
3,1,4,대전운주계곡,8,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,5,"양양쏠비치송이(한식),호텔내미술관",10,1,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [4]:
data.shape

(354, 31)

In [5]:
new = data[['userid','courseid','rating']]
data_matrix = new.pivot_table('rating', index = 'userid', columns = 'courseid')
data_matrix.head(3)

courseid,1,2,3,4,5,6,7,8,9,10,...,318,319,320,321,322,323,324,325,326,327
userid,,,,,,,,,,,,,,,,,,,,,
1,10.0,10.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,8.0,9.0,10.0,NaN,NaN,10.0,10.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,7.0,8.5,NaN,8.0,NaN,10.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,10.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN

In [6]:
rating_matrix = data.pivot_table('rating', index = 'userid', columns = 'course')
rating_matrix = rating_matrix.fillna(0)
rating_matrix

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉남애항스카이워크,둔내역한우","강릉빵다방,돌체테리아,초당소나무집순두부젤라또,해미가,삼교리동치미막국수",강릉세인트존스호텔,...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,0.0,0.0,0.0,8.0,6.0,8.0,10.0,8.0,10.0,...,9.0,10.0,9.0,0.0,8.0,0.0,9.0,7.0,9.0,8.0
4,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 여행 코스 간 유사도 산출(영화 간의 유사도만을 가지고 추천)

In [7]:
rating_matrix_T = rating_matrix.transpose()
rating_matrix_T.head()

userid                      1    2    3    4     5    6    7
course
DDP,광장시장                  0.0  0.0  9.0  0.0   0.0  0.0  0.0
가평선어치고개집                  0.0  0.0  0.0  0.0  10.0  0.0  0.0
가평스위스테마파크,달과6펜스,금강산숯불닭갈비  0.0  0.0  0.0  9.0   0.0  0.0  0.0
가평아침고요수목원,남이섬,제이드가든       8.0  0.0  0.0  0.0   0.0  0.0  0.0
강릉강문해변,대관령순수양떼목장          0.0  0.0  8.0  0.0   0.0  0.0  0.0

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
item_sim = cosine_similarity(rating_matrix_T, rating_matrix_T)
item_sim_df = pd.DataFrame(data = item_sim, index = rating_matrix.columns, columns = rating_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(327, 327)

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉남애항스카이워크,둔내역한우","강릉빵다방,돌체테리아,초당소나무집순두부젤라또,해미가,삼교리동치미막국수",강릉세인트존스호텔,...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
course,,,,,,,,,,,,,,,,,,,,,
"DDP,광장시장",1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
가평선어치고개집,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
"가평스위스테마파크,달과6펜스,금강산숯불닭갈비",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
item_sim_df["해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드"].sort_values(ascending = False)[:10]

course
전주에루화본점,다기양조장               1.0
전주이성당,초원사진관,히로쓰가옥           1.0
당진아이미술관,왜목마을해수욕장,빙빙반점       1.0
청평팀어거스터수상레저                 1.0
경주백악기월드,수리뫼,문무대왕릉           1.0
제주사려니숲길,마방목지,산굼부리,제주올레시장    1.0
청도읍성,꽃자리(한옥카페)              1.0
청도빠삐용캠프(수제버거),와인터널          1.0
양양쏠비치송이(한식),호텔내미술관          1.0
양양파마씨,파마씨펍                  1.0
Name: 해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드, dtype: float64

# 아이템 기반 최근접 이웃 협업 필터링으로 추천

In [11]:
def predict_rating(rating_arr, item_sim_arr):
    rating_pred = rating_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis = 1)])
    return rating_pred

In [12]:
rating_pred = predict_rating(rating_matrix.values, item_sim_df.values)
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix.head()

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉남애항스카이워크,둔내역한우","강릉빵다방,돌체테리아,초당소나무집순두부젤라또,해미가,삼교리동치미막국수",강릉세인트존스호텔,...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.167416,0.318815,0.228278,8.542669,0.167416,0.167416,0.167416,0.167416,0.167416,0.167416,...,0.167416,0.167416,0.167416,0.318815,0.167416,0.318815,0.167416,0.167416,0.167416,0.167416
2,0.075230,0.186615,0.132879,0.519884,0.075230,0.075230,0.075230,0.075230,0.075230,0.075230,...,0.075230,0.075230,0.075230,0.186615,0.075230,0.186615,0.075230,0.075230,0.075230,0.075230
3,8.559841,0.398692,0.407105,0.761245,8.559841,8.559841,8.559841,8.559841,8.559841,8.559841,...,8.559841,8.559841,8.559841,0.398692,8.559841,0.398692,8.559841,8.559841,8.559841,8.559841
4,0.156059,0.330648,8.566886,0.397898,0.156059,0.156059,0.156059,0.156059,0.156059,0.156059,...,0.156059,0.156059,0.156059,0.330648,0.156059,0.330648,0.156059,0.156059,0.156059,0.156059
5,0.142466,8.343368,0.308219,0.518013,0.142466,0.142466,0.142466,0.142466,0.142466,0.142466,...,0.142466,0.142466,0.142466,8.343368,0.142466,8.343368,0.142466,0.142466,0.142466,0.142466

##  <span style="color:blue">MSE : 딥러닝 손실 함수</span>

### : <span style="color:blue">손실함수는 정답에 대한 오류를 숫자로 나타내는 것으로 오답에 가까울수록 큰 값이 나옴</span>

In [13]:
from sklearn.metrics import mean_squared_error

In [14]:
def get_mse(pred, actual): #사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 구하기
    pred = pred[actual.nonzero()].flatten() #평점이 있는 실제 영화만 추출
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [15]:
print('아이템 기반 모든 최근접 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  5.482612325972054

In [16]:
def predict_rating_topsim(rating_arr, item_sim_arr, n = 20):
    pred = np.zeros(rating_arr.shape) #예측 행렬 초기화
    
    for col in range(rating_arr.shape[1]): #사용자-아이템 평점 행렬 열 크기만큼 루프 수행
        top_n_items = [np.argsort(item_sim_arr[:, col])[: -n-1 : -1]] #유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬 인덱스 반환
        for row in range(rating_arr.shape[0]): #개인화된 예측 평점 계산
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(rating_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
    return pred

In [17]:
rating_pred = predict_rating_topsim(rating_matrix.values, item_sim_df.values, n = 20)
print('어아탬 기반 최근접 TOP-20 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

어아탬 기반 최근접 TOP-20 이웃 MSE :  3.9008056021639117

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

In [18]:
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)

In [21]:
user_rating_id = rating_matrix.loc[7, :] #user = 7인 사용자에 대해 영화 추천
user_rating_id[ user_rating_id > 0 ].sort_values(ascending = False)[:10]

course
제주협재해수욕장,오설록티뮤지엄,폴부엌,협재식물원카페,나홀로나무,새별오름                     10.0
여의도한강공원,익선동,북촌한옥마을,인사동,청계천,광장시장                             10.0
군산근대문화역사박물관,안젤라분식,초원사진관,히로쓰가옥,고우당,테디베어뮤지엄,이성당,군산세관,근대건축관    10.0
인천청라호수공원,달빛거리송현야시장,또봉이통닭                                     9.0
순천만자연생태공원,순천전망대,만성리검은모래해수욕장,청정게장촌                            9.0
서울청계천,밤도깨비야시장,경복궁,남산타워,DDP                                   9.0
부산파라다이스호텔,씨메르,온더플레이트                                         9.0
광주양림동펭귄마을,바람개비식당,청춘발산마을,카페표류,에프터웍스                           9.0
남산서울타워,이태원스페인클럽,동대문DDP                                       8.0
통영케이블카,동피랑벽화마을,박경리기념관,장사도해상공원                                7.0
Name: 7, dtype: float64

In [25]:
def get_unseen_course(rating_matrix, userid): #이미 rating 준 코스 제외하고 추천할 수 있도록, rating 안준 코스 반환 함수
    user_rating = rating_matrix.loc[userid, :] #반환된 user_rating은 코스를 index로 가지는 Series 객체
    already_go = user_rating[ user_rating > 0 ].index.tolist()
    course_list = rating_matrix.columns.tolist()
    un_list = [ course for course in course_list if course not in already_go ]
    return un_list

In [30]:
def recomm_course_by_userid(pred_df, userid, un_list, top_n):
    # unseen course 코스를 추출해 가장 예측 평점 높은 순으로 정렬
    recomm_course = pred_df.loc[userid, un_list].sort_values(ascending = False)[: top_n]
    return recomm_course

In [31]:
un_list = get_unseen_course(rating_matrix, 7) #id 7이 다녀오지 않은 코스 추출

In [32]:
recomm_course = recomm_course_by_userid(rating_pred_matrix, 7, un_list, 10) #최근접 이웃 협엄 필터링으로 10개 코스 추천

In [33]:
recomm_course = pd.DataFrame(data = recomm_course.values, index = recomm_course.index, columns = ['pred_score'])
recomm_course

                                                 pred_score
course
서울신라호텔,더파크뷰,어반아일랜드                                 1.146707
잠실롯데시그니엘호텔,롯데월드                                    1.111074
양양쏠비치                                              0.853760
대전중앙시장,으느정이거리스카이로드,성심당                             0.244026
제주리치망고,엄장해암길,이호테우해수욕장,표선5맛                         0.244026
양평몽실식당,양평신내서울해장국                                   0.244026
의성향교,산운마을,애플리즈,고운사                                 0.244026
의성삼미마늘닭,사촌가루숲,의성의병기념관,제격문,빙계계곡,빙혈,빙산사지오층석탑,빙계사원    0.244026
의성산운마을,의성전통시장                                      0.244026
의성마을체험센터,조문국박물관,빙계계곡빙혈,조문국사적지,수연각                  0.244026