In [5]:
import tensorflow as tf
import pandas as pd
import numpy as np

# 데이터 가공 및 변환

In [6]:
data = pd.read_csv('data_fin_.csv',encoding = 'cp949')
data.head()

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,1,"유진게찜,엘꼬시네로(스페인음식)",10,1,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,1,2,"동명정류장카페,바다를본돼지",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
2,1,3,"몽상드애월카페,아기해녀의집",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
3,1,4,대전운주계곡,8,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,5,"양양쏠비치송이(한식),호텔내미술관",10,1,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [7]:
data.shape

(354, 31)

In [8]:
new = data[['userid','courseid','rating']]
data_matrix = new.pivot_table('rating', index = 'userid', columns = 'courseid')
data_matrix.head(3)

courseid,1,2,3,4,5,6,7,8,9,10,...,318,319,320,321,322,323,324,325,326,327
userid,,,,,,,,,,,,,,,,,,,,,
1,10.0,10.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,8.0,9.0,10.0,NaN,NaN,10.0,10.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,7.0,8.5,NaN,8.0,NaN,10.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,10.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN

In [10]:
rating_matrix = data.pivot_table('rating', index = 'userid', columns = 'course')
rating_matrix = rating_matrix.fillna(0)
rating_matrix

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉남애항스카이워크,둔내역한우","강릉빵다방,돌체테리아,초당소나무집순두부젤라또,해미가,삼교리동치미막국수",강릉세인트존스호텔,...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,0.0,0.0,0.0,8.0,6.0,8.0,10.0,8.0,10.0,...,9.0,10.0,9.0,0.0,8.0,0.0,9.0,7.0,9.0,8.0
4,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 여행 코스 간 유사도 산출(영화 간의 유사도만을 가지고 추천)

In [12]:
rating_matrix_T = rating_matrix.transpose()
rating_matrix_T.head()

userid                      1    2    3    4     5    6    7
course
DDP,광장시장                  0.0  0.0  9.0  0.0   0.0  0.0  0.0
가평선어치고개집                  0.0  0.0  0.0  0.0  10.0  0.0  0.0
가평스위스테마파크,달과6펜스,금강산숯불닭갈비  0.0  0.0  0.0  9.0   0.0  0.0  0.0
가평아침고요수목원,남이섬,제이드가든       8.0  0.0  0.0  0.0   0.0  0.0  0.0
강릉강문해변,대관령순수양떼목장          0.0  0.0  8.0  0.0   0.0  0.0  0.0

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
item_sim = cosine_similarity(rating_matrix_T, rating_matrix_T)
item_sim_df = pd.DataFrame(data = item_sim, index = rating_matrix.columns, columns = rating_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(327, 327)

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉남애항스카이워크,둔내역한우","강릉빵다방,돌체테리아,초당소나무집순두부젤라또,해미가,삼교리동치미막국수",강릉세인트존스호텔,...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
course,,,,,,,,,,,,,,,,,,,,,
"DDP,광장시장",1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
가평선어치고개집,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
"가평스위스테마파크,달과6펜스,금강산숯불닭갈비",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
item_sim_df["해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드"].sort_values(ascending = False)[:10]

course
전주에루화본점,다기양조장               1.0
전주이성당,초원사진관,히로쓰가옥           1.0
당진아이미술관,왜목마을해수욕장,빙빙반점       1.0
청평팀어거스터수상레저                 1.0
경주백악기월드,수리뫼,문무대왕릉           1.0
제주사려니숲길,마방목지,산굼부리,제주올레시장    1.0
청도읍성,꽃자리(한옥카페)              1.0
청도빠삐용캠프(수제버거),와인터널          1.0
양양쏠비치송이(한식),호텔내미술관          1.0
양양파마씨,파마씨펍                  1.0
Name: 해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드, dtype: float64

# 아이템 기반 최근접 이웃 협업 필터링으로 추천

In [34]:
def predict_rating(rating_arr, item_sim_arr):
    rating_pred = rating_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis = 1)])
    return rating_pred

In [35]:
rating_pred = predict_rating(rating_matrix.values, item_sim_df.values)
rating_pred_matrix = pd.DataFrame(data = rating_pred, index = rating_matrix.index, columns = rating_matrix.columns)
rating_pred_matrix.head()

course,"DDP,광장시장",가평선어치고개집,"가평스위스테마파크,달과6펜스,금강산숯불닭갈비","가평아침고요수목원,남이섬,제이드가든","강릉강문해변,대관령순수양떼목장","강릉강문해변,오월에초당,오리카페,해두리치킨","강릉경포대,경포호,경포해변","강릉남애항스카이워크,둔내역한우","강릉빵다방,돌체테리아,초당소나무집순두부젤라또,해미가,삼교리동치미막국수",강릉세인트존스호텔,...,"하동매암제다원,매암차박물관,토지촬영지","하동지리산,십리벚꽃길,화개장터,섬진강","한라산둘레길사려니숲길,비자림국숫집,천년의숲","해운대,더베이101,송도거북섬,오륙도스카이워크,유엔기념공원,해운대아쿠아리움,센텀시티아쿠아리움","해운대감천달빛도너츠,소행성B612","해운대다솥(한식),카페루프탑,로컬102(펍),라라랜드","해운대오륙도,해운대해수욕장,동백섬,더베이101,못골시장,이가네떡볶이","해운대이기대해안산책로,풍원장","해운대포장마차촌,전통시장","홍성남당항,홍성군조류탐사과학관,그림이있는정원"
userid,,,,,,,,,,,,,,,,,,,,,
1,0.167416,0.318815,0.228278,8.542669,0.167416,0.167416,0.167416,0.167416,0.167416,0.167416,...,0.167416,0.167416,0.167416,0.318815,0.167416,0.318815,0.167416,0.167416,0.167416,0.167416
2,0.075230,0.186615,0.132879,0.519884,0.075230,0.075230,0.075230,0.075230,0.075230,0.075230,...,0.075230,0.075230,0.075230,0.186615,0.075230,0.186615,0.075230,0.075230,0.075230,0.075230
3,8.559841,0.398692,0.407105,0.761245,8.559841,8.559841,8.559841,8.559841,8.559841,8.559841,...,8.559841,8.559841,8.559841,0.398692,8.559841,0.398692,8.559841,8.559841,8.559841,8.559841
4,0.156059,0.330648,8.566886,0.397898,0.156059,0.156059,0.156059,0.156059,0.156059,0.156059,...,0.156059,0.156059,0.156059,0.330648,0.156059,0.330648,0.156059,0.156059,0.156059,0.156059
5,0.142466,8.343368,0.308219,0.518013,0.142466,0.142466,0.142466,0.142466,0.142466,0.142466,...,0.142466,0.142466,0.142466,8.343368,0.142466,8.343368,0.142466,0.142466,0.142466,0.142466

##  <span style="color:blue">MSE : 딥러닝 손실 함수</span>

### : <span style="color:blue">손실함수는 정답에 대한 오류를 숫자로 나타내는 것으로 오답에 가까울수록 큰 값이 나옴</span>

In [36]:
from sklearn.metrics import mean_squared_error

In [39]:
def get_mse(pred, actual): #사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 구하기
    pred = pred[actual.nonzero()].flatten() #평점이 있는 실제 영화만 추출
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [40]:
print('아이템 기반 모든 최근접 이웃 MSE : ',get_mse(rating_pred, rating_matrix.values))

아이템 기반 모든 최근접 이웃 MSE :  5.482612325972054