In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

In [2]:
import csv

# 데이터 불러오기

In [3]:
data = pd.read_csv('data_fin.csv',encoding = 'cp949')
data.head()

,id,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,제주도,...,호캉스,감성카페,가족여행,액티비티,애견동반ㅇ,애견동반x,자차,대중교통,내일로,자전거
0,1,"양양쏠비치,유진게찜,엘꼬시네로(스페인음식)",10,1,0,0,0,0,0,0,...,1,0,1,0,0,1,1,0,0,0
1,1,"아길라호텔,동명정류장카페,바다를본돼지",10,0,0,0,0,0,0,1,...,0,1,0,0,0,1,1,0,0,0
2,1,"씨스테이호텔,몽상드애월카페,아기해녀의집",10,0,0,0,0,0,0,1,...,0,1,0,0,0,1,1,0,0,0
3,1,"대전아로니아펜션,운주계곡",8,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,0,0
4,2,"양양쏠비치,송이(한식),호텔내미술관",10,1,0,0,0,0,0,0,...,1,0,1,0,0,1,1,0,0,0

In [4]:
data.columns

Index(['id', 'course', 'rating', '강원도', '경상북도', '경상남도', '전라북도', '전라남도', '충청도',
       '제주도', '경기도', '서울', '인천', '대전', '부산', '광주', '울산', '대구', '가성비', '중간가성비',
       '호화', '바다', '산', '유적지', '맛집여행', '호캉스', '감성카페', '가족여행', '액티비티', '애견동반ㅇ',
       '애견동반x', '자차', '대중교통', '내일로', '자전거'],
      dtype='object')

In [5]:
print(data.shape) #csv파일 데이터 구조

(25, 35)

# 장르 콘텐츠 유사도 측정

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
course = cosine_similarity(data,data)
print(course.shape)
print(course[:1])

ValueError: could not convert string to float: '양양국제공항호텔,낙산사'