In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

In [6]:
import csv

In [11]:
data = pd.read_csv('data.csv',encoding = 'cp949')
data

,course,region,cost,surroundings,type,pet,transportation
0,"국제공항호텔,낙산사",1,0,1,3,1,0
1,"국제공항호텔,가시문항서핑,파머스키친2호점,서피비치",1,0,0,4,1,0
2,"국제공항호텔,서프클럽젯시티",1,0,0,4,1,0
3,"쏠비치양양,가우디터널",1,2,0,3,1,0
4,"쏠비치양양,애견비치",1,2,0,1,0,0
5,"쏠비치양양,아쿠아월드",1,2,0,4,1,0
6,"쏠비치양양,송이(한식)",1,2,0,1,1,0
7,"쏠비치양양,엘꼬시네로(뷔페)",1,2,0,3,1,0
8,"쏠비치양양,엘비노와(스페인음식)",1,2,0,1,1,0
9,"쏠비치양양,다비도프카페",1,2,0,2,1,0
10,"쏠비치양양,서피비치,낙산남영횟집",1,2,0,4,1,0

In [12]:
print(data.shape)

(11, 7)