In [23]:
import tensorflow as tf
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import re
from konlpy.tag import Okt
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import numpy as np
import konlpy

# 데이터 불러오기

In [2]:
data = pd.read_csv('data_fin_.csv',encoding = 'cp949')
data.head()

,userid,courseid,course,rating,강원도,경상북도,경상남도,전라북도,전라남도,충청도,...,나무,유적지,맛집여행,호캉스,감성카페,애견동반ㅇ,봄,여름,가을,겨울
0,1,1,"유진게찜,엘꼬시네로(스페인음식)",10,1,0,0,0,0,0,...,0,0,1,0,0.0,0,1,1,1,1
1,1,2,"동명정류장카페,바다를본돼지",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
2,1,3,"몽상드애월카페,아기해녀의집",10,0,0,0,0,0,0,...,0,0,1,0,1.0,0,1,1,1,1
3,1,4,대전운주계곡,8,0,0,0,0,0,0,...,1,0,0,0,0.0,0,1,1,1,1
4,5,5,"양양쏠비치송이(한식),호텔내미술관",10,1,0,0,0,0,0,...,0,0,0,0,0.0,0,1,1,1,1

In [3]:
data = data[['userid','courseid','course','rating']]
data.head()

   userid  courseid              course  rating
0       1         1   유진게찜,엘꼬시네로(스페인음식)      10
1       1         2      동명정류장카페,바다를본돼지      10
2       1         3      몽상드애월카페,아기해녀의집      10
3       1         4              대전운주계곡       8
4       5         5  양양쏠비치송이(한식),호텔내미술관      10

In [6]:
data['viewed'] = np.nan #rating이 7 이상인 것들은 다시 갈 곳으로 간주, 그러지 않으면 다시 가지 않을 곳으로 간주
for a in range(len(data)):
    if(data['rating'][a] >= 7):
        data['viewed'][a] = 1
    else:
        data['viewed'][a] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
data.head()

   userid  courseid              course  rating  viewed
0       1         1   유진게찜,엘꼬시네로(스페인음식)      10     1.0
1       1         2      동명정류장카페,바다를본돼지      10     1.0
2       1         3      몽상드애월카페,아기해녀의집      10     1.0
3       1         4              대전운주계곡       8     1.0
4       5         5  양양쏠비치송이(한식),호텔내미술관      10     1.0

In [22]:
X_data = data['course']
y_data = data['viewed']
print('course 개수: {}'.format(len(X_data)))
print('viewed 개수: {}'.format(len(y_data)))

course 개수: 512
viewed 개수: 512

# 토큰화

In [24]:
normalized_text = []
for string in X_data.tolist():
    try:
        tokens = re.sub(r"[^ㄱ-ㅎㅏ-ㅣ가-힣]+", " ", string.lower())
    except Exception as e:
        print(string)
        break
    normalized_text.append(tokens)
print(normalized_text[:5])

['유진게찜 엘꼬시네로 스페인음식 ', '동명정류장카페 바다를본돼지', '몽상드애월카페 아기해녀의집', '대전운주계곡', '양양쏠비치송이 한식 호텔내미술관']

In [32]:
data.course = normalized_text
for sentence in data['course']:
    print(sentence)

유진게찜 엘꼬시네로 스페인음식
동명정류장카페 바다를본돼지
몽상드애월카페 아기해녀의집
대전운주계곡
양양쏠비치송이 한식 호텔내미술관
가평선어치고개집
양양파마씨 파마씨펍
해운대다솥 한식 카페루프탑 로컬 펍 라라랜드
청평팀어거스터수상레저
부산본전돼지국밥 초랑밀면 신발원
인천차이나타운유가복 흑백사진관
청도빠삐용캠프 수제버거 와인터널
청도읍성 꽃자리 한옥카페
대구중앙떡볶이 오차야미테
대구엘아르카레푸스진천점 단골식당 석쇠불고기 김광석길 루프탑카페편수성
전주에루화본점 다기양조장
전주아원고택 삼백집본점 한옥마을
당진아이미술관 왜목마을해수욕장 빙빙반점
울산주전몽돌해변 당사해양낚시공원 태화강국가정원 십대리숲
안성금광호수공원 까페호미
대구김광석길 그린곱창막창
양평빠빠에피카페 사나산아 한식
양평두물머리연핫도그 오르다온
서귀포협재해변 새별오름 함덕카페
양평용문산관광단지 양평더그림카페 아우름의식탁
단양한옥마을 단양카페산 도담삼봉 만천하스카이워크
해운대이기대해안산책로 풍원장
서귀포어애랑 한림공원 앤트러사이트 성이시돌목장 송악산둘레길 앙끄레국수 황우지해안
서귀포카페바다다 용눈이오름 어멍이해녀 세화해변 큰엉해안경승지 애월
남해다랭이마을 상주은모래비치 독일마을 양모리학교
거제바람의언덕 거제몽돌해변
양양멍비치 사랑대게
송도솔찬공원 반메이 센트럴파크
강릉강문해변 대관령순수양떼목장
강릉남애항스카이워크 둔내역한우
강릉안목해변 강릉짬뽕순두부동화가든본점 경포해변 카페툇마루
강릉허균허난설헌기념관 강문해변
춘천소양강스카이워크 춘천시풍물시장 대원당 춘천의암호스카이워크
속초아바이마을 바다정원 통일전망대
춘천이상원미술관 김유정폐역
속초대포항튀김골목 씨씨카페
강릉소돌아들바위공원 주문진항 도깨비촬영지 보헤미안박이추커피 사천포구 강릉커피콩빵 강릉카페거리 하슬리아트월드 정동진해변 정동심곡바다부채길
강릉하슬라아트월드
인천월미바다열차 차이나타운 송월동동화마을 월미도 북성포구
포천전통술박물관산사원
인천무의도 실미도해수욕장 하나개해수욕장
광명동굴 삼백돈돈가츠
양평두물머리 나인블럭 테레로사 대복식당불고기가게
가평스위스테마파크 달과 펜스 금강산숯불닭갈비
송도안스베이커리 경복궁불고기
안면도카페바다 대양횟집
태안안면도수목원
태안전통시장 청산포수목원
태안안면도레포츠월드 꽃지해수욕장
삼척목호등대 환선굴 추암촛대바위
제천청풍호반케이블카비봉산역 청풍문화재단지 덕주사 금월봉
제천배론성지 의림지
남해섬이정원 남해독일마을 보리암
부산깡깡이예술마을 부산자갈치시장 송도해상케이블카송도스카이파크 부평깡통시장 태종대관광유람선
부산정란각 초량이바구길 부평깡통시장 보수동책방골목 국제시장 자갈치시장 흰여울문화마을 감천문화마을
목포연희네슈퍼 서산동시화골목길 갓바위 목포근대역사본관 오포대 유달유업
전주한옥마을 오목대 자만벽화마을 전주남부시장
군산선유도 초원사진관 국제반점 이성당 군산근대역사박물관 새만금방조제
통영동피랑벽화마을 통영케이블카 서피랑마을 서호시장 미래사
여수하멜등대 고소동벽화마을
경주핑크물리 첨성대 불국사 한국대중음악박물관 삼릉숲
광주펭귄마을 송정떡갈비 송정역시장 청춘발산마을
임실김용택시인문학관 영화아름다운시절촬영지 강변사리마을캠핑장 임실치즈테마파크
제주숨비정원 안돌오름
제주도착한전복
제주도황우지해안 춘심이네 가배카페
광화문익선동한옥마을 미담헌
 광장시장
을지로힙지로 노가리골목 만선호프
종로이화미을 광장시장 익선동한옥마을
남산둘레길 남산케이블카 남산타워
서울역문화역서울 서울로
대학로 이화마을 광장시장 익선동 창덕궁 청계천
광화문코피티암 통인시장도시락카페
대학로민송아트홀 마로니에공원
구룡포호미곶 영일대해수욕장 구룡포
경주황리단길경주피자 교촌마을 대릉원 첨성대
울산대왕암공원 젊음의거리 짚신매우갈비찜 장생포고래박물관
울산태화강국가정원 십리갈대숲 간절곶 떡바우횟집 헤이메르카페
하동매암제다원 매암차박물관 토지촬영지
진주성 진양호전망대 황포냉면
하동지리산 십리벚꽃길 화개장터 섬진강
해운대감천달빛도너츠 소행성
남포다누비열차 영도등대 흰여울문화마을 깡깡이예술마을
해운대포장마차촌 전통시장
해운대오륙도 해운대해수욕장 동백섬 더베이 못골시장 이가네떡볶이
목포바다분수 목포대교 평화광장
목포끝집포차 밤바다포차 목포근대역사관 유달산
담양소쇄원 제월당
담양천 담빛예술창고 담양국수거리
담양죽녹원 길 메타프로방스
담양명옥헌원림 퀸즈캐슬 대숲글램핑장
진안홍삼스파 마이산탑사
여수향일암 엑스포공원
완도장보고기념관 청해진유적지장도
완도정도리구계동 수목원 완도타워 완도수산시장
목포근대역사관 노적봉 김대중노벨평화상기념관
목포영산강 옥암수변공원
목포김가네해물한정식 근대역사관
영월선암마을한반도뗏목마을 선돌 단종유배지청령포
속초광포호 왕곡마을 송지호관망타워 송지호해수욕장
양양휴휴암 하조대등대 하조대해수욕장
평창대관령하늘목장 허브나라
강릉오죽헌 커피거리 안목해변 초당순두부
강릉경포대 경포호 경포해변
동해망상해수욕장 논골담길 등대오름길
동해묵호등대 등대가페 묵호등대출렁다리
대천리리스블루 대천해수욕장 풍미꽃게장게국지
충주호 탄금대 탄금호무지개다리 커피박물관
홍성남당항 홍성군조류탐사과학관 그림이있는정원
청주문의문화재단지 대청호미술관 운보의집 미스터선샤인촬영지 팔봉제빵점
청주청남대 대청호수
보령대한국정원 희랑
보령대오천항 오천성 대천항수산시장 대천해수욕장
제주애월카페거리 애월봄날 한담산책로 곽지해수욕장
제주흑돼지가있는풍경 구담돌염전 수목원야시장
한라산둘레길사려니숲길 비자림국숫집 천년의숲
성산전망좋은집 평대리해변 세화해변 성산제주공감
성산광치기해변 유채밭 카페드루쿰다 월정리해변 김녕해수욕장 카페델문도 오드랑베이커리
서귀포산호해수욕장 하고수동해변 검멀레해변 우도동굴 우도땅콩아이스크림
제주본태박물관
광장시장부촌육회 순희네빈대떡 세운상가 익선동한옥거리 청계광장
안녕인사동 문화역서울
북촌한옥마을 삼청동호아드카페 호아드레스토랑 호아드갤러리
동인천카페브라운핸즈개항로 신포국제시장닭강정 자유공원 일본근대화거리 인천차이나타운 송월동동화마을
종로에일당 만홧가게 서울커피 망원동티라미수 동백양과점
종로통인시장기름떡볶이 도시락카페 효자베이커리 대오서점 옥인오락실
여수순천만낙안읍성 드라마세트장 녹차밭
진주일리카페구석 순천낙안읍성 드라마세트장 통영동피랑마을벽화 케이블카
군산복성루 히로쓰가옥 동국사 이성당 철길마을
전주전동성당 한옥마을 오목대
전주투모루오카페 베테랑칼국수 전주한옥마을
동해논골담길 목호등대 하얀등대 벽화마을
영월아리랑래프팅 동강
단양소노문 고수동굴 도담삼봉 석문
영주부석사 종점식당 안동하회마을 안동찜닭
대구중앙떡볶이 한의학박물관 각시탈촬영지
포항환여횟집 북부해수욕장
강화도마니산 전등사
포천산정호수 포천이동갈비
인천만다복 자유공원
송도커넬워크 송도센트럴파크
강화도해든뮤지움 해든미술관
통영달아전망대 동피랑벽화마을커피랑
통영어촌싱싱회해물탕 우니코카페
안동구시장안동찜닭 풍류예술난장 하회마을
부산남포동부산길거리음식 해운대더베이
울산농도카페 태화강대공원 카페봄여름가을 대왕암공원
부산흰여울길 손목서가 태종대 신기숲
부산동백섬 더베이 달맞이길 해운대
부산국제시장 부평깡통시장 보수동책방골목 초량 문화공감수정
부산해운대마린시티 해동용궁사 아난티코브 청사포 해운대
여수덕충식당 천사벽화골목 테디베어뮤지엄
여수오동도 자산공원 로타리식당 교동시장 이순신광장 여수당
여수카페로스티아 향일암
곡성 트레인 섬진강기차마을
곡성씨엘로 가정역폐역 도림사계곡 단편카페
여수청정게장촌 카페듀 한화아쿠아플라넷 오동도 여수케이블카 청해식당
순천브루웍스 청춘창고
순천순천만습지 순천만국가정원 낙안읍성
군산물랑루즈 군산근대역사박물관 미즈커피 군산카페 이성당 철길마을
창덕궁 익선동한옥마을
통영이순신공원 대풍관 전혁림미술관 한려수도케이블카 미륵산 이순신꿀빵
잠실롯데시그니엘호텔 롯데월드
잠실롯데시그니엘호텔 롯데월드
잠실롯데시그니엘호텔 롯데월드
잠실롯데시그니엘호텔 롯데월드
잠실롯데시그니엘호텔 롯데월드
잠실롯데시그니엘호텔 롯데월드
잠시롯데호텔
강릉세인트존스호텔
양양쏠비치
양양쏠비치
양양쏠비치
양양쏠비치
서울신라호텔 더파크뷰 어반아일랜드
서울신라호텔 더파크뷰 어반아일랜드
서울신라호텔 더파크뷰 어반아일랜드
서울신라호텔 더파크뷰 어반아일랜드
서울신라호텔 더파크뷰 어반아일랜드
인천차이나타운 만다복 송월동동화마을 카페 월미도테마공원
인천개항장거리 신포시장 답동성당 용화반점 월미공원 한국이민사박물관 월미도테마공원
인천대공원 현대프리미엄아울렛송도점 오크우드프리미어인천오크레스토랑
인천오라카이송도파크호텔
인천송도한옥마을
제주이호태우해수욕장 다다익고정육점 스위트올리비아
제주지금여기 네거리식당 서귀포매일올레시장 올레은하수마카롱 한림바다생태체험마을
담양남도예담 이순신광장 여수낭만포차거리
여수로타리식당 여수당 오동도 여수해상케이블카
인제자작나무숲 속초중앙시장
속초청초수물회 속초해수욕장 인제엘드라곤 아바이마을 속초중앙시장
강릉한우타운 안목해변커피거리엘빈 강릉중앙시장
양양동호해변 엄지네포장마차 신피디통큰 봉브레드 지느러미카페
부산재기돼지국밥 부산국제영화제거리 승기씨앗호떡 부산자갈치시장 러브이즈기빙 카페그래 진심족발
강릉빵다방 돌체테리아 초당소나무집순두부젤라또 해미가 삼교리동치미막국수
강릉엄지네포장마차 형제칼국수 강릉감자옹심이 안목해변
제주명진전복 중문면세점 올레시장 김만복김밥 천백고지 돈사돈
제주우도 흑돼지버거 용눈이오름 김녕성세기해변 이호테우해변
강릉강문해변 오월에초당 오리카페 해두리치킨
강릉폴앤메리 정동진 하슬라아트월드 동화가든 안목해변 보사노바 주문진
용인대박스키 덕평휴게소소고기국밥
경주첨성대핑크뮬리 불국사 경주대릉원
강릉엄지네포장마차 안목해변 카페거리 보사노바 주문진수산시장
경주대릉원돌담길 황리단길 향화정 양지다방 첨성대 경주핑크뮬리
전주한옥마을 다우랑 남부시장 야시장 전동교회 전동성당
광주 기념공원 하해가 상무지구
광주 송정역시장 또아식빵
거제도바람의언덕 외도보타니아 외도오 아름다운카페 신선대전망대
제주수국 협재해수욕장 산도위치 한림공원 항몽유적지 수국축제 고기국수
제주새우리김밥 평대앓이 보롬왓 협재해수욕장
부산감천문화마을 부평깡통야시장
부산해운대 동백섬 이름난암소갈비 더베이
경주백악기월드 수리뫼 문무대왕릉
속초해수욕장 설악산케이블카
제주에코랜드 올레시장
제주녹산로 검멀레해변 우도서빈백사
제주성산일출봉 섭지코지 리틀이태리
제주천지연폭포 협재해수욕장 바다를본돼지
제주카멜리아힐 퍼시픽랜드 오는정김밥 마농치킨
제주쇠소깍 국수의전설 코코몽에코파크
제주애월 봄날카페
해운대 더베이 송도거북섬 오륙도스카이워크 유엔기념공원 해운대아쿠아리움 센텀시티아쿠아리움
부산삼정더파크 트릭아이미술관 깜부키즈카페
부산벡스코상상체험레이싱월드 심신프리힐링카페
목포노적봉 유달산공원 근대역사관 본전회수산 평화광장바다분수
목포김대중노벨평화상기념관 목포어린이바다과학관 목포자연사박물관
통영루지 통영중앙시장 부산해저터널 해운대야경 더베이
송도해상케이블카 부평시장 국제시장 비프거리 광안리해수욕장 더에이블
인천차이나타운 신포국제시장 월미도
인천동화마을 차이나타운연경 짜장면박물관
서울북악스카이웨이 아델라베일리 팔각정
서울북악스카이웨이 아델라베일리 팔각정
이태원다운타우너 이촌한강공원
순천만정원 꿈의다리 남제골쉬엄쉬엄마을여행
순천만자연생태공원 순천전망대 만성리검은모래해수욕장 청정게장촌
여수이순신광장 고소천사벽화골목 진남관 거북선빵 하멜전시관 하멜등대
여의도한강공원 익선동 북촌한옥마을 인사동 청계천 광장시장
서울청계천 밤도깨비야시장 경복궁 남산타워
울진스카이워크 이게대게
인천청라호수공원 달빛거리송현야시장 또봉이통닭
인천차이나타운 홍두병 동화마을
여수이순신광장 벽화마을 낭만포차거리 번 하멜등대 케이블카
부산해운대 바다산곰장어 동백섬 해동용궁사 송도케이블카 스카이워크 부산야시장
청주미동산수목원 문암생태공원
거제도외도보타니아 싱싱간장게장무한리필 동피랑벽화마을 바람의언덕
포항해오름전망대 포항전통물회
서울국립민속박물관 미술관옆돈까스 익선동 북촌한옥마을 인사동쌈지길 또옹카페
서울노량진컵밥거리 여의도 빌딩전망대
대구이월드 인생꽃사진관
서울예술의전당 테라로사카페 별마당도서관 여의도한강공원
서울익선동 동묘 청파동회냉면 쉑쉑버거
서산맛이나식당 해미호떡 해미읍성
제주동문시장 아날로그감귤밭 새별오름 위미동백군락지 올레시장 남매네흑돼지
서귀포해담은감귤농원 새별오름나홀로나무 이호테우해변
서산구릉지 아미미술관 아그로랜드태신목장 서산더미불고기
서울남대문 시청 광화문 경복궁 북촌 인사동 청계천 여의도강변
남산서울타워 이태원스페인클럽 동대문
통영케이블카 동피랑벽화마을 박경리기념관 장사도해상공원
대전중앙시장 으느정이거리스카이로드 성심당
대전장태산 유성온천 한밭수목원 성심당 대동하늘공원
대전국립중앙과학관 태평소국밥 진원미면옥
대전오문창순대국 오월드 핑크돼지 권고집만두
제주사려니숲길 마방목지 산굼부리 제주올레시장
전주남도식당 한옥마을 현대옥 카페소복
전주총각네간장게장 한옥마을 구미당
대전태평소국밥 성심당부띠끄 성심당 오씨네칼국수 서대전역카페
광주양림동펭귄마을 바람개비식당 청춘발산마을 카페표류 에프터웍스
광주벽오동보리밥 무등산양뗴목장 송정역시장 서울곱창 밀밭양조장
광주미미당 궁전제과 손탁앤아이허 스트럭트카페
부산해운대 부산아쿠아리움 소문난집 밀양순대돼지국밥
여수 해상케이블카 카페 여수야시장
여수오동도 여수꽃카페 엘레펀트하우스
담양진미국수 죽녹원 관방제림 추성경기장 메타세콰이어길 서플라이카페 승일식당갈비
광주송정역시장 아우어파스타 무등커피 아시아문화전당
안동부용대 하회마을 농수산물도소매시장 서문찜닭 마모스제과점 월영교
풍기횡재먹거리한우 선비골인삼시장 영주소수서원 선비촌 부석사
통영루지카트 심가네 오미사꿀빵 서호시장 울라봉
군산경암동철길마을 지린성고추짬뽕 카페 이성당
여수수평선횟집 돌산공원 낭만포차
여수돌산공원 여수케이블카 오동도 향일암 카페작금 여진식당
청도꽃자리카페 프로방스 알티테라스
의성마을체험센터 조문국박물관 빙계계곡빙혈 조문국사적지 수연각
의성향교 산운마을 애플리즈 고운사
의성산운마을 의성전통시장
의성삼미마늘닭 사촌가루숲 의성의병기념관 제격문 빙계계곡 빙혈 빙산사지오층석탑 빙계사원
의성금성산고분군 경덕왕릉 의성마을한우거리 의성전통시장 고운사
가평아침고요수목원 남이섬 제이드가든
경주함양집 불국사 국립경주박물관 천년한우보문점 중앙시장
제주자매국수 동문시장 한라축산정육시장 협재해수욕장
제주협재버거 마라도 남매네흑돼지
경주월정교 동궁과월지 함양집 교촌마을
양평몽실식당 양평신내서울해장국
부산국제시장꽃분이네 보수동책방골목 더베이 용두산공원
부산해동용궁사 광안리해수욕장 전포카페거리
강릉오죽헌 경포생태저류지 선교장 경포대허브관광농원 초당순두부마을 강문해변 오리카페
부산광안리 알로이삥삥 수변공원
부산광안리 홍미당 동백섬 해운대 오감쌀롱
제주동문시장 애월효자베이커리 더럭초등학교 성이시돌목장 보말칼국수
제주지금이순간 한담해안산책로 새별오름 나홀로나무
동해묵호야시장 행복상회 논골담길 논골카페
제주카멜리아힐 매일올레시장 큰엉해안경승지 성ㅅ안제이아일랜드
제주성산광치기해변 세화해수욕장 포케트럭 조천스위스마을
경주골굴사 경주전통명주전시관 감은사지 양남주상절리 문무대왕릉 한수원홍보관
경주골굴사 경주전통명주전시관 감은사지 양남주상절리 문무대왕릉 한수원홍보관
경주태종무열왕릉 대릉원 천마총 분황사 석굴암 불국사
경주민속공예촌 동궁원 경주산림환경연구원 통일전 황룡사역사문화관
동궁과월지 안압지 첨성대 교촌마을 월정교
목포해상케이블카북항승강장 독천식당 목포근대역사문화관
전주한옥마을 전동성당 베테랑
전주경기전 새만금방조제 장자도바다노을풍경 선유도해수욕장
전주이성당 초원사진관 히로쓰가옥
양양휴휴암 속초삼해횟집 이바이마을 갯배 중앙마을
속초동명항 김영애할머니순두부
경주맛자랑 보문단지내진수성찬 월정교
경주석굴암 한정식늘봄 대릉원 황리단길 카페사바하 동궁과월지
설악산더퀸 설악산국립공원케이블카 김영래할머니순두부본점 테디베어팜 바우지움조각미술관
산정호수가비가배 이정웅스페이스
춘천통나무집닭갈비 카페산토리니 소양강댐 경춘국도
통영중앙시장 미륵산케이블카 연명항 만지도 강구안밤산책 울산다찌
통영동피랑마을 오미사꿀빵 뚱보할매김밥 리치망고
군산근대문화역사박물관 안젤라분식 초원사진관 히로쓰가옥 고우당 테디베어뮤지엄 이성당 군산세관 근대건축관
파주루버월 금촌통일시장 산에들에
파주코지하우스 근현대사박물관 게임박물관 은하장 임진각
강화도전등사 동막해수욕장 편가네된장 대명항
광명이케아 송도센트럴파크 누들박스 오션스포크전망대일몰 센트럴파크야경
안동하회마을 맘모스제과 중앙문화의거리 안동위생찜닭
부산파라다이스호텔 대변항 남항횟집 씨메르 풍원장
전주한옥마을 전라회관 남부시장야시장 현대옥
부산파라다이스호텔 씨메르 온더플레이트
부산파라다이스호텔 씨메르 온더플레이트
부산파라다이스호텔 씨메르 온더플레이트
부산파라다이스호텔 씨메르 온더플레이트
부산파라다이스호텔 씨메르 온더플레이트
부산파라다이스호텔 씨메르 온더플레이트
부산파라다이스호텔 씨메르 버거인뉴욕 해동용궁사 장씨해녀집
부산파라다이스호텔 씨메르 버거인뉴욕 해동용궁사 장씨해녀집
부산송정해수욕장 하이 광안리 더베이
제주히든클리프호텔 올데이다이닝파노라마레스토랑
제주히든클리프호텔 올데이다이닝파노라마레스토랑
제주히든클리프호텔 올데이다이닝파노라마레스토랑
제주히든클리프호텔 올데이다이닝파노라마레스토랑
제주히든클리프호텔 올데이다이닝파노라마레스토랑
제주히든클리프호텔 올데이다이닝파노라마레스토랑
제주도성산일출봉 광치기해변 대영수산직영회센타 하도
제주리치망고 엄장해암길 이호테우해수욕장 표선 맛
제주협재해수욕장 오설록티뮤지엄 폴부엌 협재식물원카페 나홀로나무 새별오름
제주원앤온리카페 산방산 사계생활 뷰스트 송악산둘레길 잇뽕사계
제주원앤온리카페 산방산 사계생활 뷰스트 송악산둘레길 잇뽕사계
제주협재해수욕장 오설록티뮤지엄 폴부엌 협재식물원카페 나홀로나무 새별오름
제주애월백번가든 협재해수욕장 애월더선셋 김녕미로공원 만장굴 코코마마
군산선유도 장미칼국수 근대거리초원사진관 근대거리박물관 은파호수공원
송도오라카이파크호텔 일리커피
부산옥천돼지국밥 감천문화마을 남포동국제시장 부산로또명당 자유시장 광안리 개금밀면
수원장안문 수원시립아이파크미술관 벽화마을
제주도성산일출봉 서귀포해월정 오르다카페 서귀포할매식당 유동커피
제주도성산일출봉 서귀포해월정 오르다카페 서귀포할매식당 유동커피
제주도성산일출봉 서귀포해월정 오르다카페 서귀포할매식당 유동커피
당진귀락당 아미미술관 소문난집우렁이박사 삽교호놀이동산
당진귀락당 아미미술관 소문난집우렁이박사 삽교호놀이동산
담양소쇄원 절라도 죽녹원 옥빈관
담양소쇄원 절라도 죽녹원 옥빈관
양양쏠비치아쿠아월드 후진항 속초관광수산시장
양양쏠비치아쿠아월드 후진항 속초관광수산시장
양양쏠비치아쿠아월드 후진항 속초관광수산시장
강릉횡계칼국수 하늘목장 하늘목장카페
제주도봄날카페 제주강식당 성이시돌목장 오설록티뮤지엄 짱구분식
제주도봄날카페 제주강식당 성이시돌목장 오설록티뮤지엄 짱구분식
제주도봄날카페 제주강식당 성이시돌목장 오설록티뮤지엄 짱구분식
제주도봄날카페 제주강식당 성이시돌목장 오설록티뮤지엄 짱구분식
제주도봄날카페 제주강식당 성이시돌목장 오설록티뮤지엄 짱구분식
제주도봄날카페 제주강식당 성이시돌목장 오설록티뮤지엄 짱구분식
제주도유동커피 올레길 모카다방
제주도유동커피 올레길 모카다방
제주도유동커피 올레길 모카다방
제주도으뜨미 용눈이오름 비자림길 비자블라썸카페 토키썸카페 월정리
제주도으뜨미 용눈이오름 비자림길 비자블라썸카페 토키썸카페 월정리
제주도으뜨미 용눈이오름 비자림길 비자블라썸카페 토키썸카페 월정리
춘천해피초원목장 소양강스카이워크 메밀밭 상상마당 댄싱카페인 토담닭갈비
통영통제영 동피랑벽화마을 통영중앙시장 서피랑 통영시립박물관 해저터널 유어스카페 남망조각공원
단양도담상봉 석문 다누리아쿠아리움 구경시장 만천하스카이워크 잔도길
단양도담상봉 석문 다누리아쿠아리움 구경시장 만천하스카이워크 잔도길
단양도담상봉 석문 다누리아쿠아리움 구경시장 만천하스카이워크 잔도길
순천만국가정원 순천만습지 청춘창고
순천낙안읍성 브루웍스
군산히로쓰가옥 군산초원사진관 옛날세관 이성당신관카페 동국사 은파호수공원 구름공방맥주집
군산일제강점기역사박물관 올드브릭카페 근대역사박물관 근대건축박물관 해양공원 작은떡시루카페 월명달빛정원
부산온천천카페거리 모모스커피 부산국제시장 부산 거리 미청식당 일광해수욕장
부산온천천카페거리 모모스커피 부산국제시장 부산 거리 미청식당 일광해수욕장
강릉화니키친 오월커피 강릉짬뽕순두부동화가든 꼬막포차
강릉중앙시장 강문해변 은파횟집
강릉중앙시장 강문해변 은파횟집
강릉중앙시장 강문해변 은파횟집
강릉해미가 오죽헌 경포해변 테라로사사천점 초당등불생등심
강릉소나무집초당순두부 순두부젤라또 경포해변
영주부석사 소수서원 무섬외나무다리
강릉초당순두부 삼양목장
강릉초당순두부 삼양목장
강릉초당순두부 삼양목장
강릉초당순두부 삼양목장
강릉초당순두부 삼양목장
강릉초당순두부 삼양목장
강릉테라로사 동해막국수 명성닭강정 강릉비치
강릉테라로사 동해막국수 명성닭강정 강릉비치
강릉테라로사 동해막국수 명성닭강정 강릉비치
강릉테라로사 동해막국수 명성닭강정 강릉비치
강릉테라로사 동해막국수 명성닭강정 강릉비치
강릉테라로사 동해막국수 명성닭강정 강릉비치
부안내소사 변산반도 채석강
부안내소사 변산반도 채석강
부안내소사 변산반도 채석강
부안내소사 변산반도 채석강
부안내소사 변산반도 채석강
부안내소사 변산반도 채석강
강릉툇마루카페 초당순두부 허균허난설헌기념공원
강릉경포해변 초당 허균허난설헌기념공원 경포호 원조강릉교동반점
강릉경포해변 초당 허균허난설헌기념공원 경포호 원조강릉교동반점
강릉경포해변 초당 허균허난설헌기념공원 경포호 원조강릉교동반점
강릉경포해변 초당 허균허난설헌기념공원 경포호 원조강릉교동반점
강릉경포해변 초당 허균허난설헌기념공원 경포호 원조강릉교동반점
강릉경포해변 초당 허균허난설헌기념공원 경포호 원조강릉교동반점
부산현대미술관 카페 개미집 부산시립미술관 제이엠커피로스터스
부산현대미술관 카페 개미집 부산시립미술관 제이엠커피로스터스
강릉예가낙지마당 툇마루카페 강릉중앙시장 강문해변 강릉짬뽕순두부동화가든본점
강릉예가낙지마당 툇마루카페 강릉중앙시장 강문해변 강릉짬뽕순두부동화가든본점
강릉예가낙지마당 툇마루카페 강릉중앙시장 강문해변 강릉짬뽕순두부동화가든본점
강릉예가낙지마당 툇마루카페 강릉중앙시장 강문해변 강릉짬뽕순두부동화가든본점
강릉예가낙지마당 툇마루카페 강릉중앙시장 강문해변 강릉짬뽕순두부동화가든본점
강릉예가낙지마당 툇마루카페 강릉중앙시장 강문해변 강릉짬뽕순두부동화가든본점
영월젊은달와이파크미술관 한반도면선암마을 청령포 김삿갓계곡
영월젊은달와이파크미술관 한반도면선암마을 청령포 김삿갓계곡
영월젊은달와이파크미술관 한반도면선암마을 청령포 김삿갓계곡
영월젊은달와이파크미술관 한반도면선암마을 청령포 김삿갓계곡
영월젊은달와이파크미술관 한반도면선암마을 청령포 김삿갓계곡
영월젊은달와이파크미술관 한반도면선암마을 청령포 김삿갓계곡
속초단천식당 속초관광수산시장 생선구이 만석닭강정 황태해장국
속초단천식당 속초관광수산시장 생선구이 만석닭강정 황태해장국
속초단천식당 속초관광수산시장 생선구이 만석닭강정 황태해장국
속초단천식당 속초관광수산시장 생선구이 만석닭강정 황태해장국
속초단천식당 속초관광수산시장 생선구이 만석닭강정 황태해장국
속초단천식당 속초관광수산시장 생선구이 만석닭강정 황태해장국
단양다누리아쿠아리움 수양개빛터널 단양잔도 오성통닭 제천청풍모노레일
봉평고향막국수 강릉커피빵 강릉동화가든 횡성한우
봉평고향막국수 강릉커피빵 강릉동화가든 횡성한우
광양청매실농원 해성식당 송림공원
순천만 풍미통닭
여수오동도 황소식당 여수케이블카 만성리검은모래해변
순천흥덕식당 순천만습지 순천만국가정원 순천아랫장야시장
순천흥덕식당 순천만습지 순천만국가정원 순천아랫장야시장
순천흥덕식당 순천만습지 순천만국가정원 순천아랫장야시장
순천흥덕식당 순천만습지 순천만국가정원 순천아랫장야시장
순천흥덕식당 순천만습지 순천만국가정원 순천아랫장야시장
순천흥덕식당 순천만습지 순천만국가정원 순천아랫장야시장
순천흥덕식당 낙안읍성 드라마세트장 학운정 브루웍스
순천흥덕식당 낙안읍성 드라마세트장 학운정 브루웍스
순천흥덕식당 낙안읍성 드라마세트장 학운정 브루웍스
순천흥덕식당 낙안읍성 드라마세트장 학운정 브루웍스
순천흥덕식당 낙안읍성 드라마세트장 학운정 브루웍스
순천흥덕식당 낙안읍성 드라마세트장 학운정 브루웍스
순천만국가정원 순천만습지 정문식당 동강막창
순천만국가정원 순천만습지 정문식당 동강막창
순천만국가정원 순천만습지 정문식당 동강막창
순천만국가정원 순천만습지 정문식당 동강막창
순천만국가정원 순천만습지 정문식당 동강막창
순천만국가정원 순천만습지 정문식당 동강막창
양평메밀촌 용문산빵공장 두물머리 수수카페
제주도우진해장국 김녕미로공원 김녕해수욕장 만월당 카페무늬 월정리해수욕장 함덕해수욕장 카페델문도 흑돈가
제주도후카후카 레이지펌프
제주도후카후카 레이지펌프
목포코롬방제과 고래회수산
목포코롬방제과 고래회수산
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
목포수가정해물순두부 연희네슈퍼 코롬방제과 주일굴보쌈 홈보이
군산한일옥 마이페이보릿카페 마리서사 초원사진관 군산과자조합카페 만남스넥 옛군산세관
군산은파호수공원 지린성 초원사진관 군산과자조합 카페 경일철도마을 선유도해수욕장 째보식당 천하장사곱창 이성당
군산은파호수공원 지린성 초원사진관 군산과자조합 카페 경일철도마을 선유도해수욕장 째보식당 천하장사곱창 이성당
군산은파호수공원 지린성 초원사진관 군산과자조합 카페 경일철도마을 선유도해수욕장 째보식당 천하장사곱창 이성당
군산은파호수공원 지린성 초원사진관 군산과자조합 카페 경일철도마을 선유도해수욕장 째보식당 천하장사곱창 이성당
군산은파호수공원 지린성 초원사진관 군산과자조합 카페 경일철도마을 선유도해수욕장 째보식당 천하장사곱창 이성당
군산은파호수공원 지린성 초원사진관 군산과자조합 카페 경일철도마을 선유도해수욕장 째보식당 천하장사곱창 이성당
용인옵서예 실비수산 곰포차 타임포타이 올덴브라운 또봉이수닭 백현카페거리
동대문문구도매시장 두타쉐이크쉑 광장시장
동대문문구도매시장 두타쉐이크쉑 광장시장
동대문문구도매시장 두타쉐이크쉑 광장시장
동대문문구도매시장 두타쉐이크쉑 광장시장
동대문문구도매시장 두타쉐이크쉑 광장시장
동대문문구도매시장 두타쉐이크쉑 광장시장
덕수궁 정동길 농업박물관 돈의문박물관마을 경찰박물관 경희궁 역사박물관 청계천
군산구이나라 이성당 진포해양테마공원 군산근대건축관
군산근대역사박물관 새만금 선유도
춘천꿈자람어린이공원 소양강스카이워크 춘천닭갈비
광명동굴 이케아광명점 기형도문학관
광명동굴 이케아광명점 기형도문학관
광명동굴 이케아광명점 기형도문학관
광명동굴 이케아광명점 기형도문학관
광명동굴 이케아광명점 기형도문학관
광명동굴 이케아광명점 기형도문학관
파주마장호수 천마루한식부페
파주마장호수 천마루한식부페
파주마장호수 천마루한식부페
파주마장호수 천마루한식부페
파주마장호수 천마루한식부페
파주마장호수 천마루한식부페

In [44]:
data_1 = data[data['userid'] ==  1]
data_2 = data[data['userid'] ==  2]
data_3 = data[data['userid'] ==  3]
data_4 = data[data['userid'] ==  4]
data_5 = data[data['userid'] ==  5]
data_6 = data[data['userid'] ==  6]
data_7 = data[data['userid'] ==  7]

In [33]:
from konlpy.tag import Okt  
okt = Okt()

In [34]:
X_token=[]
for sentence in data_1['course']:
    temp_X = []
    temp_X = okt.morphs(sentence, stem=True) # 토큰화
    #temp_X = [word for word in temp_X if not word in stopwords] # 불용어 제거
    X_token.append(temp_X)

In [35]:
print(X_token[:3])

[['유진', '게', '찜', '엘꼬시네', '로', '스페인', '음식'], ['동명', '정류장', '카페', '바다', '를', '본', '돼지'], ['몽상', '드애월', '카페', '아기', '해녀', '의', '집']]

# 정수 인코딩 수행

In [36]:
max_words = 35000
tokenizer = Tokenizer(num_words = max_words) # 상위 35,000개의 단어만 보존
tokenizer.fit_on_texts(X_token) 
X_token = tokenizer.texts_to_sequences(X_token)

In [37]:
print(X_token[:3])

[[709, 285, 710, 711, 184, 462, 463], [464, 712, 1, 64, 465, 256, 144], [713, 714, 1, 715, 286, 93, 42]]

In [38]:
word_to_index = tokenizer.word_index

# 전체 데이터 길이 분포 확인

In [39]:
vocab_size = len(word_to_index) + 1
print('단어 집합의 크기: {}'.format((vocab_size)))

단어 집합의 크기: 1568

In [40]:
print('train 코스의 최대 길이 :',max(len(l) for l in X_token))
print('평균 길이 :',sum(map(len, X_token))/len(X_token))

train 코스의 최대 길이 : 36
평균 길이 : 10.310546875

In [41]:
max_len = 36
X_data = pad_sequences(X_token, maxlen=max_len)
print("data shape: ", X_data.shape)

data shape:  (512, 36)

In [42]:
y_data = np.array(y_data).reshape(-1, 1)

In [43]:
print(X_data[:3])
print(y_data[:3])

[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0 709 285 710 711 184 462 463]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0 464 712   1  64 465 256 144]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0   0   0   0   0   0   0   0   0 713 714   1 715 286  93  42]]
[[1.]
 [1.]
 [1.]]

# 데이터 분리

In [45]:
data_1.head()

     userid  courseid             course  rating  viewed
0         1         1  유진게찜 엘꼬시네로 스페인음식       10     1.0
1         1         2     동명정류장카페 바다를본돼지      10     1.0
2         1         3     몽상드애월카페 아기해녀의집      10     1.0
3         1         4             대전운주계곡       8     1.0
168       1       169    잠실롯데시그니엘호텔 롯데월드      10     1.0

In [21]:
cdata_1 = data_1['course']
cdata_2 = data_2['course']
cdata_3 = data_3['course']
cdata_4 = data_4['course']
cdata_5 = data_5['course']
cdata_6 = data_6['course']
cdata_7 = data_7['course']
print('course 개수: {}'.format(len(cdata_1)))
print('course 개수: {}'.format(len(cdata_2)))
print('course 개수: {}'.format(len(cdata_3)))
print('course 개수: {}'.format(len(cdata_4)))
print('course 개수: {}'.format(len(cdata_5)))
print('course 개수: {}'.format(len(cdata_6)))
print('course 개수: {}'.format(len(cdata_7)))

course 개수: 70
course 개수: 43
course 개수: 182
course 개수: 88
course 개수: 82
course 개수: 3
course 개수: 44